<div prefix="" file="product.html" context="machine" class="fragment"><span>Dual Axis Shredder - Obelix</span>
  <hr />
  <hr />
  Please always contact us through EMAIL : <b>sales@plastic-hub.com</b><br />
  <hr />
  <div prefix="" file="body.md" context="machine" class="fragment">
    <p><strong>Upgraded&amp;nbsp;v4&amp;nbsp;Shredder</strong> </p>
    <div style="clear:both">
      <div prefix="" file="product_overview_drawings.html" context="machine" class="fragment">
        <div>
          <h4 style="text-align: center;">Dimensions</h4>
          <a href="https://plastic-hub.com/products/shredder/obelix//drawings/dimensions.JPG" style="color:#4C74B9">
            <p style="text-align: center">
              <img style="max-height:500px" src="https://plastic-hub.com/products/shredder/obelix//drawings/dimensions.JPG">
              </img></p>
          </a>
          <hr />
          <h4 style="text-align: center;">Parts</h4>
          <a href="https://plastic-hub.com/products/shredder/obelix//drawings/parts.JPG" style="color:#4C74B9">
            <p style="text-align: center">
              <img style="max-height:500px" src="https://plastic-hub.com/products/shredder/obelix//drawings/parts.JPG">
              </img></p>
          </a>
          <p style="text-align: center">
          <table style="display:table;width:auto;margin-left:auto;margin-right:auto">
            <thead>
              <tr>
                <th>Part Nr.</th>
                <th>Description</th>
                <th>Configuration</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td />
                <td />
                <td />
              </tr>
              <tr>
                <td>1</td>
                <td>Hopper door</td>
                <td>Stainless 2mm &#x2013; quick opener</td>
              </tr>
              <tr>
                <td>2</td>
                <td>Upper Hopper</td>
                <td>Stainless 2mm &#x2013; hinged</td>
              </tr>
              <tr>
                <td>3</td>
                <td><a href="https://plastic-hub.com/products/obelix/resources/CidepaCKM77.pdf" style="color:#4C74B9">Motor</a></td>
                <td>4kW - 3Phase &#x2013; 380V|220V</td>
              </tr>
              <tr>
                <td>4</td>
                <td><a href="https://plastic-hub.com/products/obelix/resources/CidepaCKM77.pdf" style="color:#4C74B9">Gearbox</a></td>
                <td>1:60</td>
              </tr>
              <tr>
                <td>5</td>
                <td>Lower Hopper</td>
                <td>Stainless 2mm &#x2013; with window</td>
              </tr>
              <tr>
                <td>6</td>
                <td>Shredder</td>
                <td>Configuration: Stainless or Hardox450</td>
              </tr>
              <tr>
                <td>7</td>
                <td>Table</td>
                <td>Tubes and Stainless panels</td>
              </tr>
              <tr>
                <td>8</td>
                <td>Control Cabinet</td>
                <td>CE Certified</td>
              </tr>
              <tr>
                <td>9</td>
                <td>Control Panel</td>
                <td />
              </tr>
              <tr>
                <td>10</td>
                <td>Bin</td>
                <td>Stainless 2mm &#x2013; with window</td>
              </tr>
              <tr>
                <td />
                <td />
                <td />
              </tr>
            </tbody>
          </table>
          </p>
        </div>
      </div>
    </div>
    <p>We upgraded the v4 shredder after instensive testing to make it work with a sieve but also for more materials.</p>
    <h3 id="featuresnbspnbspdetails">Features&amp;nbsp;/&amp;nbsp;Details</h3>
    <ul>
      <li>Jam detection with auto reverse using industrial components</li>
      <li>Motor overheat protection</li>
      <li>Status&amp;nbsp;lights&amp;nbsp;:&amp;nbsp;Ok&amp;nbsp;&amp;&amp;nbsp;Error&amp;nbsp;&amp;&amp;nbsp;Overload</li>
      <li>Emergency&amp;nbsp;button</li>
      <li>Modular and professional&amp;nbsp;firmware</li>
      <li>3&amp;nbsp;Years&amp;nbsp;guarantee</li>
      <li>After&amp;nbsp;sales&amp;nbsp;service</li>
      <li>Enclosure/Hopper&amp;nbsp;:&amp;nbsp;stainless</li>
      <li>2&amp;nbsp;different&amp;nbsp;sieves&amp;nbsp;included</li>
      <li>Sieve can be height adjusted</li>
      <li>The upper hopper with door can be flipped back</li>
      <li>Hopper system can be detached fast for cleaning</li>
      <li>The bin has a window</li>
    </ul>
    <hr />
    <p>
    <div prefix="" file="product_resources.md" context="machine" class="fragment">
      <p><strong>Product Resources</strong></p>
      <ul>
        <li><a href="https://plastic-hub.com/products/shredder/obelix/resources/edrawings.html" style="color:#4C74B9">3D Preview</a></li>
        <li><a href="https://plastic-hub.com/products/shredder/obelix/resources/edrawings_4kW.html" style="color:#4C74B9">3D Preview - 4kW | Auto-Plunger</a></li>
        <li><a href="https://precious-plastic.org//archives/obelix.zip" style="color:#4C74B9">Download</a></li>
        <li><a href="https://plastic-hub.com/products/obelix.html" style="color:#4C74B9">Product Page</a></li>
      </ul>
    </div>
    </p>
  </div>
  <br />
  <div prefix="" file="howtos.html" context="machine" class="fragment" />
  <hr />
  <div prefix="" file="others.html" context="machine" class="fragment">
    <div style="padding:16px;text-align: center;">
      <h3> See our other products </h3>
      <div class="ty-vendor-plans">
        <div prefix="" file="elena.html" context="machine" class="fragment">
          <div class="ty-grid-list__item" style="float: left;border-color: #c5c5c5;width: 300px;display: inline-block">
            <a href="https://bazar.preciousplastic.com/index.php?dispatch=products.view&amp;product_id=99" style="color:#4C74B9">
              <img style="height:200px" height="200px" src="https://plastic-hub.com/products/elena/media/preview.jpg">
              <br />
              <p style="text-align: center;">Arbor Injection</p>
              </img>
            </a>
          </div>
        </div>
        <div prefix="" file="zoe.html" context="machine" class="fragment">
          <div class="ty-grid-list__item" style="float: left;border-color: #c5c5c5;width: 300px;display: inline-block">
            <a href="https://bazar.preciousplastic.com/index.php?dispatch=products.view&amp;product_id=152" style="color:#4C74B9">
              <img height="200px" src="https://plastic-hub.com/products/zoe/media/preview.jpg">
              <br />
              <p style="text-align: center;">Shredder &amp; Extrusion Combo &apos;Zoe&apos;</p>
              </img>
            </a>
          </div>
        </div>
        <div prefix="" file="lydia.html" context="machine" class="fragment">
          <div class="ty-grid-list__item" style="float: left;border-color: #c5c5c5;width: 300px;display: inline-block">
            <a href="https://bazar.preciousplastic.com/index.php?dispatch=products.view&amp;product_id=179" style="color:#4C74B9">
              <img height="200px" src="https://plastic-hub.com/products/lydia/media/preview.jpg">
              <br />
              <p style="text-align: center;">Extrusion v3</p>
              </img>
            </a>
          </div>
        </div>
        <div prefix="" file="lydia-v4.html" context="machine" class="fragment">
          <div class="ty-grid-list__item" style="float: left;border-color: #c5c5c5;width: 300px;display: inline-block">
            <a href="https://bazar.preciousplastic.com/index.php?dispatch=products.view&amp;product_id=159" style="color:#4C74B9">
              <img height="200px" src="https://plastic-hub.com/products/lydia-v4/media/preview.jpg">
              <br />
              <p style="text-align: center;">Extrusion v4</p>
              </img>
            </a>
          </div>
        </div>
        <div prefix="" file="cassandra.html" context="machine" class="fragment">
          <div class="ty-grid-list__item" style="float: left;border-color: #c5c5c5;width: 300px;display: inline-block">
            <a href="https://bazar.preciousplastic.com/machines/sheetpress/sheet-press-fully-built/heat-conductive-putty-sheetpress/" style="color:#4C74B9">
              <img height="200px" src="https://plastic-hub.com/products/cassandra/renderings/perspective.JPG">
              <br />
              <p style="text-align: center;">Mini Sheetpress &apos;Cassandra&apos;</p>
              </img>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div style="clear: both;">
    <p style="text-align:center ;">
      <a href="https://plastic-hub.com/products/" style="color:#4C74B9">See more products on our website</a>
    </p>
  </div>
  <hr />
  <div prefix="" file="vendor_links.html" context="machine" class="fragment">
    <p style="color:#f58d8e;clear: both;text-align: center;">
      <a href="https://www.instagram.com/plastichubcat/" style="color:#4C74B9"><span style="color:#f58d8e;">Instagram</span></a> |
      <a href="https://gitlab.com/plastichub/pp-next" style="color:#4C74B9"><span style="color:#f58d8e;">Github (OpenSourceFiles)</span></a> |
      <a href="mailto://sales@plastic-hub.com" style="color:#4C74B9"><span style="color:#f58d8e;">EMail</span></a> |
      <a href="https://www.facebook.com/plastichubcat" style="color:#4C74B9"><span style="color:#f58d8e;">Facebook</span></a> |
      <a href="https://library.plastic-hub.org/machines/" style="color:#4C74B9"><span style="color:#f58d8e;">Wiki</span></a> |
      <a href="https://community.preciousplastic.com/u/plastichub" style="color:#4C74B9"><span style="color:#f58d8e;">Community map</span></a> |
      <a href="https://forum.plastic-hub.com/" style="color:#4C74B9"><span style="color:#f58d8e;">Forum</span></a>
    </p>
    <p style="color:#f58d8e;clear: both;text-align: center;">
      <a href="https://join.slack.com/t/pporgworkspace/shared_invite/zt-ki41lt0y-us2lp_bRsgh_uQHESXofLg" style="color:#4C74B9"><span style="color:#f58d8e;">Slack - Support &amp; Development Chat </span></a> |
      <a href="tel://0034666894789" style="color:#4C74B9"><span style="color:#f58d8e;">Telefon - Whatsapp (English, French, German, Spanish,
                Catalan)</span></a>
    </p>
  </div>
  <hr />
  <div prefix="" file="instagram.html" context="machine" class="fragment">
    <div>
      <h4 style="text-align: center;">Checkout our Instagram</h4>
      <div class="ty-vendor-plans">
        <p class="ty-grid-list__item" style="float:left;border-color:#c5c5c5;width: 300px;display: inline-block">
          <a href="https://www.instagram.com/p/CGFEVPMHyNB/" style="color:#4C74B9">
            <img width="300" src="https://plastic-hub.com/products/resources/assets/instagram1.jpg" />
          </a>
        </p>
        <p class="ty-grid-list__item" style="float:left;border-color:#c5c5c5;width: 300px;display: inline-block">
          <a href="https://www.instagram.com/p/B1T3D3bHoke/" style="color:#4C74B9">
            <img width="300" src="https://plastic-hub.com/products/resources/assets/instagram2.jpg" />
          </a>
        </p>
        <p class="ty-grid-list__item" style="float:left;border-color:#c5c5c5;width: 300px;display: inline-block">
          <a href="https://www.instagram.com/p/CC8-hODqai0/" style="color:#4C74B9">
            <img width="300" src="https://plastic-hub.com/products/resources/assets/instagram3.jpg" />
          </a>
        </p>
      </div>
    </div>
  </div>
  <hr />
  <div prefix="" file="projects.html" context="machine" class="fragment">
    <div>
      <h4 style="text-align: center;">Our latest Open Source projects</h4>
      <div class="ty-vendor-plans">
        <p class="ty-grid-list__item" style="float:left;border-color:#c5c5c5;width: 300px;display: inline-block">
          <a href="https://plastic-hub.com/products/cassandra.html" style="color:#4C74B9">
            <img width="300" src="https://plastic-hub.com/products/cassandra/renderings/perspective.JPG" />
          </a>
          <span style="text-align: center; font-weight: bold;font-size: larger;">Mini Sheetpress</span>
        </p>
        <p class="ty-grid-list__item" style="float:left;border-color:#c5c5c5;width: 300px;display: inline-block">
          <a href="https://plastic-hub.com/products/asterix.html" style="color:#4C74B9">
            <img width="300" src="https://plastic-hub.com/products/shredder/asterix/renderings/perspective.png" />
          </a>
          <span style="text-align: center; font-weight: bold;font-size: larger;">Vending Shredder</span>
        </p>
        <p class="ty-grid-list__item" style="float:left;border-color:#c5c5c5;width: 300px;display: inline-block">
          <a href="https://plastic-hub.com/products/PrintHead/media/preview.jpg.jpg" style="color:#4C74B9">
            <img width="300" src="https://plastic-hub.com/products/PrintHead/media/preview.jpg.jpg" />
          </a>
          <span style="text-align: center;font-weight: bold;font-size: larger;">3D Printhead for industrial robots</span>
        </p>
      </div>
    </div>
  </div>
  <hr />
  <div prefix="" file="footer.md" context="machine" class="fragment">
    <p>
    <div prefix="" file="social.html" context="machine" class="fragment">
      <table style="display:table;width:auto;margin-left:auto;margin-right:auto">
        <tbody>
          <tr>
            <td>
              <a href="https://www.instagram.com/plastichubcat" style="color:#4C74B9">
                <img width="30px" src="https://precious-plastic.org/products/bazar/assets/instagram-logo.png" />
              </a>
            </td>
            <td>
              <a href="https://www.youtube.com/channel/UCuWDxJtV2pf5BefHEy09Cew/featured?view_as=subscriber" style="color:#4C74B9">
                <img width="30px" src="https://precious-plastic.org/products/bazar/assets/002-youtube.png" />
              </a>
            </td>
            <td>
              <a alt="Open Source Projects" href="https://gitlab.com/plastichub" style="color:#4C74B9">
                <img width="30px" src="https://precious-plastic.org/products/bazar/assets/github.png" />
              </a>
            </td>
            <td>
              <a alt="" href="tel:0034666894789" style="color:#4C74B9">
                <img width="30px" src="https://precious-plastic.org/products/bazar/assets/007-whatsapp.png" />
              </a>
            </td>
            <td>
              <a alt="" href="https://www.facebook.com/plastichubcat/" style="color:#4C74B9">
                <img width="30px" src="https://precious-plastic.org/products/bazar/assets/043-facebook-1.png" />
              </a>
            </td>
            <td>
              <a alt="" href="mailto:sales@plastic-hub.com" style="color:#4C74B9">
                <img width="30px" src="https://precious-plastic.org/products/bazar/assets/012-mail-2.png" />
              </a>
            </td>
            <td>
              <a alt="" href="https://plastic-hub.com/blog" style="color:#4C74B9">
                <img width="30px" src="https://precious-plastic.org/products/bazar/assets/006-wordpress.png" />
              </a>
            </td>
            <td>
              <a alt="" href="https://discord.gg/SN6MT5N" style="color:#4C74B9">
                <img width="30px" src="https://precious-plastic.org/products/bazar/assets/discord.png" />
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    </p>
  </div>
</div>