<div prefix="" file="product.html" context="machine" class="fragment"><span>Extrusion v4 - Lydia</span>
  <hr />
  <hr />
  Please always contact us through <a href="mailto://sales@plastic-hub.com" style="color:#4C74B9">EMail</a><br />
  <hr />
  <div prefix="" file="body.md" context="machine" class="fragment">
    <p>Popular PP extruder , perfect for labs, small enterprises; updated for a bigger screw and motor.</p>
    <div style="clear:both">
      <div prefix="" file="mini_specs.md" context="machine" class="fragment">
        <p><span id="specs" style="padding: 16px">
            <table class="center specs" style="display:table;width:auto;margin-left:auto;margin-right:auto">
                <tbody>
                    <tr>
                        <td>Type:
                        </td>
                        <td> Extruder
                        </td>
                    </tr>
                    <tr>
                        <td>Version:
                        </td>
                        <td> 4.3
                        </td>
                    </tr>
                    <tr>
                        <td> Status:
                        </td>
                        <td> Tested
                        </td>
                    </tr>
                    <tr>
                        <td> License
                        </td>
                        <td><a href="https://ohwr.org/cernohl" style="color:#4C74B9">CERN Open Source Hardware License</a>
                        </td>
                    </tr>
                    <tr>
                        <td> Authors </td>
                        <td>
                            <ul>
                                <li><a href="" style="color:#4C74B9">PlasticHub S.L.</a> </li>
                                <li><a href="" style="color:#4C74B9">PrecisousPlastic - Eindhoven</a> </li>
                                <li><a href="https://www.instagram.com/peterbasschelling/" style="color:#4C74B9">Peter Bas</a> </li>
                                <li><a href="https://www.facebook.com/david.bassetti.79" style="color:#4C74B9">David Basetti - 3D Seed</a></li>
                                <li><a href="https://www.plastic-hub.com" style="color:#4C74B9">Dan Shirley - Timberstar</a></li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>Type</td>
                        <td>Single Screw</td>
                    </tr>
                    <tr>
                        <td>Weight</td>
                        <td>110 kg</td>
                    </tr>
                    <tr>
                        <td>Power (W)</td>
                        <td>5 kW</td>
                    </tr>
                    <tr>
                        <td>Voltage</td>
                        <td>380V or 220V</td>
                    </tr>
                    <tr>
                        <td>Amperage</td>
                        <td>16A</td>
                    </tr>
                    <tr>
                        <td>Input Flake Size</td>
                        <td>Small</td>
                    </tr>
                    <tr>
                        <td>Screw diameter</td>
                        <td>30mm</td>
                    </tr>
                    <tr>
                        <td>Length of screw (mm)</td>
                        <td>900 mm</td>
                    </tr>
                    <tr>
                        <td>Effective screw length</td>
                        <td>600 mm</td>
                    </tr>
                    <tr>
                        <td>Rated Motor Power</td>
                        <td>3 kW</td>
                    </tr>
                    <tr>
                        <td>Motor</td>
                        <td/>
                    </tr>
                    <tr>
                        <td>- Rated Motor output Torque</td>
                        <td>109 Nm</td>
                    </tr>
                    <tr>
                        <td>- Rated Motor output speed</td>
                        <td>263 RPM</td>
                    </tr>
                    <tr>
                        <td>- Heating zones</td>
                        <td>3</td>
                    </tr>
                    <tr>
                        <td>Heating power: max.</td>
                        <td>2 kW</td>
                    </tr>
                </tbody>
            </table>
    </span></p>
        <p />
      </div>
    </div>
    <div style="clear:both">
      <div prefix="" file="product_overview_drawings.html" context="machine" class="fragment">
        <div>
          <h4 style="text-align: center;">Dimensions</h4>
          <a href="https://plastic-hub.com/products/lydia-v4//drawings/dimensions.JPG" style="color:#4C74B9">
            <p style="text-align: center">
              <img style="max-height:500px" src="https://plastic-hub.com/products/lydia-v4//drawings/dimensions.JPG">
              </img></p>
          </a>
          <hr />
          <h4 style="text-align: center;">Parts</h4>
          <a href="https://plastic-hub.com/products/lydia-v4//drawings/parts.JPG" style="color:#4C74B9">
            <p style="text-align: center">
              <img style="max-height:500px" src="https://plastic-hub.com/products/lydia-v4//drawings/parts.JPG">
              </img></p>
          </a>
          <p style="text-align: center">
          <table style="display:table;width:auto;margin-left:auto;margin-right:auto">
            <thead>
              <tr>
                <th>Part Nr.</th>
                <th>Description</th>
                <th>Configuration</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>Extrusion Hopper</td>
                <td>Stainless 2mm</td>
              </tr>
              <tr>
                <td>2</td>
                <td>Screw Shield</td>
                <td>Stainless 2mm</td>
              </tr>
              <tr>
                <td>3</td>
                <td>Heatbands</td>
                <td>7x 300W Brass</td>
              </tr>
              <tr>
                <td>4</td>
                <td>Screw &amp; Shield Support Mount</td>
                <td />
              </tr>
              <tr>
                <td>5</td>
                <td>Nozzle</td>
                <td />
              </tr>
              <tr>
                <td>6</td>
                <td><a href="/products/zoe/resources/KM-904CV.pdf" style="color:#4C74B9">Motor</a></td>
                <td>1480RPM | 3Kw | Supports 220V | 380V</td>
              </tr>
              <tr>
                <td>7</td>
                <td><a href="/products/zoe/resources/KM-904CV.pdf" style="color:#4C74B9">Reducer</a></td>
                <td>1:10</td>
              </tr>
              <tr>
                <td>8</td>
                <td>Motor Flange</td>
                <td>160mm diameter | 8x M10 bolts</td>
              </tr>
              <tr>
                <td>9</td>
                <td>Barrel Flange</td>
                <td>100mm diameter | 8x M8 bolts</td>
              </tr>
              <tr>
                <td>10</td>
                <td>Bearing Housing</td>
                <td />
              </tr>
              <tr>
                <td>11</td>
                <td>Extrusion Screw</td>
                <td>30mm diameter</td>
              </tr>
              <tr>
                <td>12</td>
                <td>Power Switch Motor</td>
                <td>Contactor</td>
              </tr>
              <tr>
                <td>13</td>
                <td>Emergency Switch</td>
                <td />
              </tr>
              <tr>
                <td>14</td>
                <td>VFD Panel</td>
                <td />
              </tr>
              <tr>
                <td>15</td>
                <td>Feed Zone PID (Temperatur Controller)</td>
                <td>Inkbird 100 VH</td>
              </tr>
              <tr>
                <td>16</td>
                <td>Mixing Zone PID (Temperatur Controller)</td>
                <td>Inkbird 100 VH</td>
              </tr>
              <tr>
                <td>17</td>
                <td>Nozzle Zone PID (Temperatur Controller)</td>
                <td>Inkbird 100 VH</td>
              </tr>
              <tr>
                <td>18</td>
                <td>Power Switch Heating</td>
                <td>Contactor</td>
              </tr>
              <tr>
                <td>19</td>
                <td>Direction Switch</td>
                <td />
              </tr>
              <tr>
                <td>20</td>
                <td>Baseplate</td>
                <td>80cm x 15mm x 200mm</td>
              </tr>
              <tr>
                <td />
                <td />
                <td />
              </tr>
            </tbody>
          </table>
          </p>
        </div>
      </div>
    </div>
    <h3 id="features">Features</h3>
    <ul>
      <li>Advanced extrusion control with optimized workflow to fill molds</li>
      <li>Jam detection</li>
      <li>Status lights : Ok &amp; Error</li>
      <li>Emergency and reset button</li>
      <li>Various motor protections (thermal &amp; magnetic).</li>
      <li>Rigid, flexible and modular framework &#x2013; enabling hacking and extensions. The base plate is 15 mm thick.</li>
      <li>Extrusion hopper can be easily detached.</li>
      <li>Thermocouples (sensors) have clips, easy to detach.</li>
      <li>Complies also with basic regulations in schools.</li>
      <li>Stops automatically after one hour of inactivity.</li>
      <li>High quality cables and wiring according to industrial standards.</li>
      <li>Compression screw according to v4 with added extra strength</li>
      <li>Stronger taper bearings extra trust bearing</li>
      <li>Quality heatbands and PID controllers</li>
      <li>Simplified bearing housing design with no exotic parts as in v4, easy to replace and scale for even bigger screws</li>
    </ul>
    <hr />
    <div>
      <div style="padding: 16px; display: inline-block">
        <div prefix="" file="product_resources.md" context="machine" class="fragment">
          <p><strong>Product Resources</strong></p>
          <ul>
            <li><a href="https://library.plastic-hub.com/machines/lydia-v4.html" style="color:#4C74B9">Wiki</a></li>
            <li><a href="https://precious-plastic.org/products/products/lydia-v4/resources/wiring_220V_basic.png" style="color:#4C74B9">Wiring</a></li>
            <li><a href="https://precious-plastic.org//archives/lydia-v4.zip" style="color:#4C74B9">Download</a></li>
            <li><a href="https://plastic-hub.com/products/lydia-v4.html" style="color:#4C74B9">Product Page</a></li>
            <li><a href="https://plastic-hub.com/products/lydia-v4/resources/edrawings.html" style="color:#4C74B9">3D Preview</a></li>
          </ul>
          <p />
        </div>
      </div>
    </div>
  </div>
  <br />
  <div prefix="" file="howtos.html" context="machine" class="fragment">
    <hr />
    <div style="padding:16px;text-align: center;">
      <h3> Howtos </h3>
      <div class="ty-vendor-plans">
        <div prefix="" file="howto_bricks.html" context="machine" class="fragment">
          <div class="ty-grid-list__item" style="float: left;border-color: #c5c5c5;width: 300px;display: inline-block">
            <a href="https://community.preciousplastic.com/how-to/make-extruded-plastic-bricks" style="color:#4C74B9">
              <img height="200px" src="https://firebasestorage.googleapis.com/v0/b/onearmyworld.appspot.com/o/uploads%2Fv2_howtos%2FwgXKMSyFffTnY7sW8K1n%2FBrick%20Lean-howto.jpg?alt=media&amp;token=14046c6e-96b8-497f-ae44-9edc13615533">
              <br />
              <p style="text-align: center;">Make extruded plastic
                bricks</p>
              </img>
            </a>
          </div>
        </div>
        <div prefix="" file="howto_light_beams.html" context="machine" class="fragment">
          <div class="ty-grid-list__item" style="float: left;border-color: #c5c5c5;width: 300px;display: inline-block">
            <a href="https://community.preciousplastic.com/how-to/make-a-lamp-with-beams" style="color:#4C74B9">
              <img height="200px" src="https://firebasestorage.googleapis.com/v0/b/onearmyworld.appspot.com/o/uploads%2Fv2_howtos%2FqHIFJwCev1TxepK7JHns%2F_DSF9396.JPG?alt=media&amp;token=3381bbd4-e942-4aa9-a322-e376bdd81f35">
              <br />
              <p style="text-align: center;">Make a lamp with beams</p>
              </img>
            </a>
          </div>
        </div>
        <div prefix="" file="howto_mold_beams.html" context="machine" class="fragment">
          <div class="ty-grid-list__item" style="float: left;border-color: #c5c5c5;width: 300px;display: inline-block">
            <a href="https://community.preciousplastic.com/how-to/make-a-mould-to-extrude-beams" style="color:#4C74B9">
              <img height="200px" src="https://firebasestorage.googleapis.com/v0/b/onearmyworld.appspot.com/o/uploads%2Fv2_howtos%2FrodwJIeeabSsIGuI27Er%2F1%20fin.JPG?alt=media&amp;token=91253391-e30b-4d4a-978a-4834a93f5197">
              <br />
              <p style="text-align: center;">Make a lamp with beams</p>
              </img>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div style="clear: both;">
      <p style="text-align:center ;">
        <a href="https://community.preciousplastic.com/how-to" style="color:#4C74B9">See more how-tos</a>
      </p>
    </div>
    <hr />
  </div>
  <hr />
  <div prefix="" file="others.html" context="machine" class="fragment">
    <div style="padding:16px;text-align: center;">
      <h3> See our other products </h3>
      <div class="ty-vendor-plans">
        <div prefix="" file="elena.html" context="machine" class="fragment">
          <div class="ty-grid-list__item" style="float: left;border-color: #c5c5c5;width: 300px;display: inline-block">
            <a href="https://bazar.preciousplastic.com/index.php?dispatch=products.view&amp;product_id=99" style="color:#4C74B9">
              <img style="height:200px" height="200px" src="https://plastic-hub.com/products/elena/media/preview.jpg">
              <br />
              <p style="text-align: center;">Arbor Injection</p>
              </img>
            </a>
          </div>
        </div>
        <div prefix="" file="sheetpress.html" context="machine" class="fragment">
          <div class="ty-grid-list__item" style="float: left;border-color: #c5c5c5;width: 300px;display: inline-block;">
            <a href="https://bazar.preciousplastic.com/index.php?dispatch=products.view&amp;product_id=210" style="color:#4C74B9">
              <img width="height" src="https://plastic-hub.com/products/sheetpress-cell/media/latest2.jpg">
              <br />
              <p style="text-align: center;">Sheetpress Cell</p>
              </img>
            </a>
          </div>
        </div>
        <div prefix="" file="zoe.html" context="machine" class="fragment">
          <div class="ty-grid-list__item" style="float: left;border-color: #c5c5c5;width: 300px;display: inline-block">
            <a href="https://bazar.preciousplastic.com/index.php?dispatch=products.view&amp;product_id=152" style="color:#4C74B9">
              <img height="200px" src="https://plastic-hub.com/products/zoe/media/preview.jpg">
              <br />
              <p style="text-align: center;">Shredder &amp; Extrusion Combo &apos;Zoe&apos;</p>
              </img>
            </a>
          </div>
        </div>
        <div prefix="" file="lydia.html" context="machine" class="fragment">
          <div class="ty-grid-list__item" style="float: left;border-color: #c5c5c5;width: 300px;display: inline-block">
            <a href="https://bazar.preciousplastic.com/index.php?dispatch=products.view&amp;product_id=179" style="color:#4C74B9">
              <img height="200px" src="https://plastic-hub.com/products/lydia/media/preview.jpg">
              <br />
              <p style="text-align: center;">Extrusion v3</p>
              </img>
            </a>
          </div>
        </div>
        <div prefix="" file="obelix.html" context="machine" class="fragment">
          <div class="ty-grid-list__item" style="float: left;border-color: #c5c5c5;width: 300px;display: inline-block">
            <a href="https://bazar.preciousplastic.com/machines/shredder-pro/shredder-pro-fully-built/upgraded-v4-shredder/" style="color:#4C74B9">
              <img height="200px" src="https://plastic-hub.com/products/obelix/media/gallery/latest.jpg">
              <br />
              <p style="text-align: center;">Upgraded v4 Shredder &apos;Obelix&apos;</p>
              </img>
            </a>
          </div>
        </div>
        <div prefix="" file="cassandra.html" context="machine" class="fragment">
          <div class="ty-grid-list__item" style="float: left;border-color: #c5c5c5;width: 300px;display: inline-block">
            <a href="https://bazar.preciousplastic.com/machines/sheetpress/sheet-press-fully-built/heat-conductive-putty-sheetpress/" style="color:#4C74B9">
              <img height="200px" src="https://plastic-hub.com/products/cassandra/renderings/perspective.JPG">
              <br />
              <p style="text-align: center;">Mini Sheetpress &apos;Cassandra&apos;</p>
              </img>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div style="clear: both;">
    <p style="text-align:center ;">
      <a href="https://plastic-hub.com/products/" style="color:#4C74B9">See more products on our website</a>
    </p>
  </div>
  <hr />
  <div prefix="" file="vendor_links.html" context="machine" class="fragment">
    <p style="color:#f58d8e;clear: both;text-align: center;">
      <a href="https://www.instagram.com/plastichubcat/" style="color:#4C74B9"><span style="color:#f58d8e;">Instagram</span></a> |
      <a href="https://gitlab.com/plastichub/" style="color:#4C74B9"><span style="color:#f58d8e;">Github (OpenSourceFiles)</span></a> |
      <a href="mailto://sales@plastic-hub.com" style="color:#4C74B9"><span style="color:#f58d8e;">EMail</span></a> |
      <a href="https://www.facebook.com/plastichubcat" style="color:#4C74B9"><span style="color:#f58d8e;">Facebook</span></a> |
      <a href="https://library.plastic-hub.org/machines/" style="color:#4C74B9"><span style="color:#f58d8e;">Wiki</span></a> |
      <a href="https://community.preciousplastic.com/u/plastichub" style="color:#4C74B9"><span style="color:#f58d8e;">Community map</span></a> |
      <a href="https://forum.plastic-hub.org/machines/" style="color:#4C74B9"><span style="color:#f58d8e;">Forum</span></a>
    </p>
    <p style="color:#f58d8e;clear: both;text-align: center;">
      <a href="https://join.slack.com/t/pporgworkspace/shared_invite/zt-ki41lt0y-us2lp_bRsgh_uQHESXofLg" style="color:#4C74B9"><span style="color:#f58d8e;">Slack - Support &amp; Development Chat </span></a> |
      <a href="tel://0034666894789" style="color:#4C74B9"><span style="color:#f58d8e;">Telefon - Whatsapp (English, French, German, Spanish,
                Catalan)</span></a>
    </p>
  </div>
  <hr />
  <div prefix="" file="instagram.html" context="machine" class="fragment">
    <div>
      <h4 style="text-align: center;">Checkout our Instagram</h4>
      <div class="ty-vendor-plans">
        <p class="ty-grid-list__item" style="float:left;border-color:#c5c5c5;width: 300px;display: inline-block">
          <a href="https://www.instagram.com/p/CGFEVPMHyNB/" style="color:#4C74B9">
            <img width="300" src="https://plastic-hub.com/products/resources/assets/instagram1.jpg" />
          </a>
        </p>
        <p class="ty-grid-list__item" style="float:left;border-color:#c5c5c5;width: 300px;display: inline-block">
          <a href="https://www.instagram.com/p/B1T3D3bHoke/" style="color:#4C74B9">
            <img width="300" src="https://plastic-hub.com/products/resources/assets/instagram2.jpg" />
          </a>
        </p>
        <p class="ty-grid-list__item" style="float:left;border-color:#c5c5c5;width: 300px;display: inline-block">
          <a href="https://www.instagram.com/p/CC8-hODqai0/" style="color:#4C74B9">
            <img width="300" src="https://plastic-hub.com/products/resources/assets/instagram3.jpg" />
          </a>
        </p>
      </div>
    </div>
  </div>
  <hr />
  <div prefix="" file="projects.html" context="machine" class="fragment">
    <div>
      <h4 style="text-align: center;">Our latest Open Source projects</h4>
      <div class="ty-vendor-plans">
        <p class="ty-grid-list__item" style="float:left;border-color:#c5c5c5;width: 300px;display: inline-block">
          <a href="https://plastic-hub.com/products/cassandra.html" style="color:#4C74B9">
            <img width="300" src="https://plastic-hub.com/products/cassandra/renderings/perspective.JPG" />
          </a>
          <span style="text-align: center; font-weight: bold;font-size: larger;">Mini Sheetpress</span>
        </p>
        <p class="ty-grid-list__item" style="float:left;border-color:#c5c5c5;width: 300px;display: inline-block">
          <a href="https://plastic-hub.com/products/asterix.html" style="color:#4C74B9">
            <img width="300" src="https://plastic-hub.com/products/asterix/renderings/perspective.png" />
          </a>
          <span style="text-align: center; font-weight: bold;font-size: larger;">Vending Shredder</span>
        </p>
        <p class="ty-grid-list__item" style="float:left;border-color:#c5c5c5;width: 300px;display: inline-block">
          <a href="https://plastic-hub.com/products/PrintHead/media/preview.jpg.jpg" style="color:#4C74B9">
            <img width="300" src="https://plastic-hub.com/products/PrintHead/media/preview.jpg.jpg" />
          </a>
          <span style="text-align: center;font-weight: bold;font-size: larger;">3D Printhead for industrial robots</span>
        </p>
      </div>
    </div>
  </div>
  <hr />
  <div prefix="" file="footer.md" context="machine" class="fragment">
    <p>
    <div prefix="" file="social.html" context="machine" class="fragment">
      <table style="display:table;width:auto;margin-left:auto;margin-right:auto">
        <tbody>
          <tr>
            <td>
              <a href="https://www.instagram.com/plastichubcat" style="color:#4C74B9">
                <img width="30px" src="https://precious-plastic.org/products/bazar/assets/instagram-logo.png" />
              </a>
            </td>
            <td>
              <a href="https://www.youtube.com/channel/UCuWDxJtV2pf5BefHEy09Cew/featured?view_as=subscriber" style="color:#4C74B9">
                <img width="30px" src="https://precious-plastic.org/products/bazar/assets/002-youtube.png" />
              </a>
            </td>
            <td>
              <a alt="Open Source Projects" href="https://gitlab.com/plastichub/" style="color:#4C74B9">
                <img width="30px" src="https://precious-plastic.org/products/bazar/assets/github.png" />
              </a>
            </td>
            <td>
              <a alt="" href="tel:0034666894789" style="color:#4C74B9">
                <img width="30px" src="https://precious-plastic.org/products/bazar/assets/007-whatsapp.png" />
              </a>
            </td>
            <td>
              <a alt="" href="https://www.facebook.com/plastichubcat/" style="color:#4C74B9">
                <img width="30px" src="https://precious-plastic.org/products/bazar/assets/043-facebook-1.png" />
              </a>
            </td>
            <td>
              <a alt="" href="mailto:sales@plastic-hub.com" style="color:#4C74B9">
                <img width="30px" src="https://precious-plastic.org/products/bazar/assets/012-mail-2.png" />
              </a>
            </td>
            <td>
              <a alt="" href="https://plastic-hub.com/blog" style="color:#4C74B9">
                <img width="30px" src="https://precious-plastic.org/products/bazar/assets/006-wordpress.png" />
              </a>
            </td>
            <td>
              <a alt="" href="https://discord.gg/SN6MT5N" style="color:#4C74B9">
                <img width="30px" src="https://precious-plastic.org/products/bazar/assets/discord.png" />
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    </p>
  </div>
</div>