<p>Perfect for more complicated molds and better production rates as well good quality with high precision. Easy to
    transport and ideal for a educational context and small enterprises.<br>
</p>

<p>
    The machine is heavily inspired by the work of <a href="https://www.fosbarcelona.com/">FosBarcelona</a>, formerly known as <a href="http://www.esferica.org/en/">Taller Esferica.</a>
</p>
<hr>
<div>

    <div id="specs" style="padding: 16px">
        <strong>Technical Information</strong>
        <table>
            <tbody>
                <tr>
                    <td>Version
                    </td>
                    <td>1.3
                    </td>
                </tr>
                <tr>
                    <td> Weight
                    </td>
                    <td>40 kg
                    </td>
                </tr>
                <tr>
                    <td> Dimensions - Package
                    </td>
                    <td>1100 x 200 x 500 mm
                    </td>
                </tr>
                <tr>
                    <td> Barrel volume
                    </td>
                    <td>70 cm³
                    </td>
                </tr>
                <tr>
                    <td> Voltage
                    </td>
                    <td>220V
                    </td>
                </tr>
                <tr>
                    <td> AMP
                    </td>
                    <td>2.6A
                    </td>
                </tr>
                <tr>
                    <td> Input Flake Size
                    </td>
                    <td>Medium, Small
                    </td>
                </tr>
                <tr>
                    <td> License
                    </td>
                    <td><a href="https://ohwr.org/cernohl">CERN Open Source Hardware License</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>
<div style="clear:both">
    <div>
        <a href="${product_overview}">
            <p style="text-align: center">
                <img width="100%" src="${product_overview}">
            </p>
        </a>
    </div>


    <div style="padding: 16px; display: inline-block">
        ${product_resources}
    </div>

    </p>
</div>
<strong>Community builds</strong>
<div class="ty-vendor-plans">


    <p class="ty-grid-list__item" style="float:left;border-color:#c5c5c5;width: 300px;display: inline-block">
        <img width="300" src="https://bazar.preciousplastic.com/images/companies/24/elena/markz.jpg?1580037715294" />
    </p>
    <p class="ty-grid-list__item" style="float:left;border-color:#c5c5c5;width: 300px;display: inline-block"> <img
            width="300"
            src="https://bazar.preciousplastic.com/images/companies/24/elena/umelohmotne_59865422_441042840038598_5468035939138973777_n.jpg?1580037857618" />
    </p>
    <p class="ty-grid-list__item" style="float:left;border-color:#c5c5c5;width: 300px;display: inline-block">
        <img width="300"
            src="https://precious-plastic.org/wp-content/uploads/2020/03/com4.jpg" />
    </p>
    <p class="ty-grid-list__item" style="float:left;border-color:#c5c5c5;width: 300px;display: inline-block">
        <img width="300"
            src="https://precious-plastic.org/wp-content/uploads/2020/03/com5.jpg" /> 
    </p>
    <p class="ty-grid-list__item" style="float:left;border-color:#c5c5c5;width: 300px;display: inline-block">
        <img width="300"
            src="https://precious-plastic.org/wp-content/uploads/2020/03/com6.jpg" /> 
    </p>

</div>