<div>

    <a href="${product_preview}">
        <img src="${product_preview}" style="margin:8px; float: left;max-width:50%;max-height: 400px;" />
    </a>

    <span style="font-size: smaller; margin-top: 16px;">
        Couplings for shredder or extrusion
    </span>

    <div style="display: table-cell;">
        ${mini_specs}

        <a href="">
            <span style="margin: 8px;" class="fa fa-download" />
        </a>
        <a href="">
            <span style="margin: 8px;" class="fa fa-play" />
        </a>
        <a href="">
            <span style="margin: 8px;" class="fa fa-question" />
        </a>

    </div>

</div>

<div style="margin: 8px;clear:both">
    
</div>

<hr />

${detail}

${products}