BODY{
  width: 1024px;
  height: 600px;
}
.text{
  
}
#myapp .myButton {
  -moz-box-shadow: 0px 1px 0px 0px #1c1b18;
  -webkit-box-shadow: 0px 1px 0px 0px #1c1b18;
  box-shadow: 0px 1px 0px 0px #1c1b18;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #eae0c2), color-stop(1, #ccc2a6));
  background: -moz-linear-gradient(top, #eae0c2 5%, #ccc2a6 100%);
  background: -webkit-linear-gradient(top, #eae0c2 5%, #ccc2a6 100%);
  background: -o-linear-gradient(top, #eae0c2 5%, #ccc2a6 100%);
  background: -ms-linear-gradient(top, #eae0c2 5%, #ccc2a6 100%);
  background: linear-gradient(to bottom, #eae0c2 5%, #ccc2a6 100%);
  background-color: #eae0c2;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  border: 2px solid #333029;
  display: inline-block;
  cursor: pointer;
  color: #505739;
  font-family: arial;
  font-size: 14px;
  font-weight: bold;
  padding: 12px 16px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffffff;
}
#myapp .myButton:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ccc2a6), color-stop(1, #eae0c2));
  background: -moz-linear-gradient(top, #ccc2a6 5%, #eae0c2 100%);
  background: -webkit-linear-gradient(top, #ccc2a6 5%, #eae0c2 100%);
  background: -o-linear-gradient(top, #ccc2a6 5%, #eae0c2 100%);
  background: -ms-linear-gradient(top, #ccc2a6 5%, #eae0c2 100%);
  background: linear-gradient(to bottom, #ccc2a6 5%, #eae0c2 100%);
  background-color: #ccc2a6;
}
#myapp .myButton:active {
  position: relative;
  top: 1px;
}
.statusOn{
  background-color: red;
}
.statusOff{
  background-color: green;
}
