<div>

    <a href="${product_preview}">
        <img src="${product_preview}" style="margin:8px; float: left;max-width:50%;max-height: 400px;" />
    </a>

    <span style="font-size: smaller; margin-top: 16px;">
        Precious Plastic Shredder with updates : stronger shaft & hexbar, safety shields and a hopper.
    </span>

    <div style="display: table-cell;">
        ${mini_specs}

        {% include machine_toolbar.html download="${download}" preview="${product_3d}" %}

    </div>

</div>

<div style="margin: 8px;clear:both">
    
</div>

<hr />

${detail}

${products}