<div id="specs" style="padding: 16px">
    <strong>Technical Information</strong>
    <table>
        <tbody>
            <tr>
                <td>Version
                </td>
                <td>1.3
                </td>
            </tr>
            <tr>
                <td> Weight
                </td>
                <td>15 kg
                </td>
            </tr>
            <tr>
                <td> Dimensions - Package
                </td>
                <td>500 x 200 x 500 mm
                </td>
            </tr>
            <tr>
                <td> Voltage
                </td>
                <td>220V
                </td>
            </tr>
            <tr>
                <td> AMP
                </td>
                <td>2.6A
                </td>
            </tr>
            <tr>
                <td> License
                </td>
                <td><a href="https://ohwr.org/cernohl">CERN Open Source Hardware License</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
