XCommander is a multi talent file manager. Perfect for quick editing, managing files and on-site development.

<b>Features</b>

- Full keyboard support ala Midnight or Total-Commander <br/>
- Multi tab<br/>
- Code editor with auto-completion for CSS,PHP and Javascript<br/>
- Multi selection<br/>
- Advanced search<br/>
- Drag'n drop for copy, move and upload into any panel<br/>
- Standard actions : Edit, Move, Rename, Info, Delete,Compress and Download<br/>
- Sandbox modus for PHP and HTML files<br/>
- Code editor with CSS hot reload<br/>
- 2 image editors : Pixlr and Aviary<br/>
- View Word, Excel and Powerpoint files with Zoho<br/>
- Enhanced security <br/>
- Enhanced media preview <br/>
- FTP, SFTP, Dropbox, WebDav. More are schedule : Flickr, GoogleDrive<br/>


<b>Required</b>
- PHP 5.3<br/>
- Linux based server, no Windows support right now.<br/>
- Supported browsers : Chrome, Firefox and maybe Opera.<br/>

<b>Important</b>
- You can manage remote sites in xapp/commander/vfs.php

<b>Controls : Keyboard</b><br/>
SPACE : Open Preview<br/>
CTRL+F1 : Open Mounts<br/>
F2 : Rename<br/>
F4 : Edit file<br/>
F5 : Copy (If main window is open, the destination is set automatically)<br/>
F6 : Move<br/>
F7 : Create directory<br/>
F8 : Delete<br/>
F9 : Create file<br/>
<br/>
CTRL/CMD + ENTER : Open selection in main window<br/>

BACKSPACE (Firefox) : Go back in history<br/>
SHIFT + BACKSPACE (Chrome) : Go back in history<br/>
DEL : Delete selection<br/>
CTRL+W (Firefox) : Close last window<br/>
CTRL+/- Change font size<br/>
SHIFT+W (Chrome) : Close last window<br/>
SHIFT+UP/DOWN : Multi-Selection<br/>
CTRL+A : Select all<br/>
CTRL+C : Copy selection to clipboard<br/>
CTRL+X : Cut selection to clipboard<br/>
CTRL+V : Paste selection<br/>
CTRL+S : Save current editor's content<br/>
CTRL+F : Open search<br/>
<br/>

<b>Controls Editor</b><br/>
Ctrl-F / Cmd-F : Start searching<br/>
Ctrl-G / Cmd-G : Find next<br/>
Shift-Ctrl-G / Shift-Cmd-G : Find previous<br/>
Shift-Ctrl-F / Cmd-Option-F : Replace<br/>
Shift-Ctrl-R / Shift-Cmd-Option-F : Replace all<br/>
<br/>

<b>Controls : Mouse</b><br/>
Right-Click : Open context menu<br/>
CTRL : Enable copy mode for drag and drop<br/>
Uploading : Simply drag files from your file manager into the file panel<br/>


<b>Video</b>
- Fast introduction : http://www.youtube.com/watch?v=SbX0pYtm7S8&feature=youtu.be


<b>Change-Log 7th. Aug. 2014<b/>
    - support for WEBDAV, FTP, SFTP, DropBox added<br/>
    - support for nginx added <br/>
    - preview system added : press space <br/>
    - preview now as panel view mode added. This panel will be updated each time when a file is selected. supports : HTML,PDF,VIDEO,AUDIO <br/>
    - various PHP errors/warnings fixed for PHP5.4+ <br/>
