<h3 id="plastichubisthebiggestcontributorofthepreciousplasticopensourcemovement">Plastic-Hub is the biggest contributor of the Precious-Plastic open source movement</h3>
<p>We're 100% open source and we mainly produce for communities, schools, universities, small enterprises and startups and provide after sales support.</p>
<h3 id="ouractivities">Our activities</h3>
<ul>
<li>donations to various talents and teams in the community</li>
<li>develop new machines, updates and fixes of the machines</li>
<li>develop various open source software tools: Precious-Plastic Wiki Language, and machine firmware</li>
<li>extensive community suppport in the forum and Discord since 2 years</li>
<li>maintainence and support of community projects and activities</li>
</ul>
<p></hr></p>
<h3 id="theteam">The team</h3>
<ul>
<li><strong>Guenter</strong> - Senior software and hardware engineer from Germany</li>
<li><strong>Anne</strong> - Communication and sales officer from France</li>
<li><strong>Daniel</strong> - Lead engineer from the UK</li>
<li><strong>David - 3D Seed</strong> : Product Engineer and Design from Australia</li>
<li><strong>David</strong> :  Production, from Catalonia</li>
<li><strong>Kampru</strong> : Electronics Engineer, from Catalonia</li>
<li><strong>Nials</strong> : Product Designer, from the UK</li>
</ul>
<h3 id="projects">Projects</h3>
<ul>
<li><strong><a href="https://gitlab.com/plastichub/products/tree/master/products/asterix">Asterix</a></strong> : Full automatic bottle vending machiene for schools and bars.</li>
<li><strong><a href="https://gitlab.com/plastichub/products">Precious Plastic</a></strong> : maintainence and updates for Precious Plastic machinery</li>
<li><strong><a href="https://gitlab.com/plastichub/lang">Precious Plastic Language</a></strong> : development of a new Wiki language</li>
<li><strong><a href="https://gitlab.com/plastichub/products/tree/master/products/">Plastic - Hub</a></strong> : development of new and open source plastic recycling machines, based on Precious Plastic and beyond</li>
<li><strong><a href="https://gitlab.com/plastichub/firmware">Firmware</a></strong> : development of firmware for plastic recycling machines</li>
<li><strong><a href="https://forum.precious-plastic.org/">Forum</a></strong> : development of a new forum for the Precious Plastic community</li>
<li><strong><a href="https://gitlab.com/plastichub/products/tree/master/projects">Community Projects</a></strong> : maintainence and development of community projects</li>
</ul>
<p style="color:#f58d8e;">
    <a href="https://www.instagram.com/plastichubcat/"><span style="color:#f58d8e;">Instagram</span></a> | <a
        href="https://gitlab.com/plastichub/"><span style="color:#f58d8e;">Github (open source
            files, machines)</span></a> | <a href="mailto:mailto://cgoflyn@gmail.com"><span
            style="color:#f58d8e;">EMail</span></a> | <a href="https://www.facebook.com/plastichubcat"><span
            style="color:#f58d8e;">Facebook</span></a> | <a href="https://precious-plastic.org/library/machines/"><span
            style="color:#f58d8e;">Wiki</span></a> | <a href="https://community.preciousplastic.com/u/plastichub"><span
            style="color:#f58d8e;">Community map</span></a>
</p>
<p><a href="https://discord.gg/nVaNCs3"><span style="color:#f58d8e;">Discord - Support Chat (pre-sales,
            community)</span></a> | <a href="tel://0034666894789"><span style="color:#f58d8e;">Telefon (Whatsapp,
            English, French, German, Spanish, Catalan)</span></a>
</p>
<p><br></p>
<div style="padding:16px;text-align: center;">
    <h3> See our other products </h3>
    <div>
    <div class="ty-vendor-plans">
        <p style="flex-grow:1;position:relative;overflow:hidden;">
            <div class="ty-grid-list__item" style="float: left;border-color: #c5c5c5;width: 300px;display: inline-block">
<a href="https://bazar.preciousplastic.com/index.php?dispatch=products.view&product_id=99">
    <img style="height:200px"  height="200px" src="https://precious-plastic.org/products/products/elena/media/preview.jpg">
    <br/>
    <p style="text-align: center;">Arbor Injection</p>
</a>
</div>
        </p>
        <p style="flex-grow:1;position:relative;overflow:hidden;">
            <div class="ty-grid-list__item" style="float: left;border-color: #c5c5c5;width: 300px;display: inline-block">
<a href="https://bazar.preciousplastic.com/index.php?dispatch=products.view&product_id=152">
    <img height="200px" src="https://precious-plastic.org/products/products/zoe/media/preview.jpg">
    <br/>
    <p style="text-align: center;">Shredder & Extrusion Combo 'Zoe'</p>
</a>
</div>
        </p>
        <p style="flex-grow:1;position:relative;overflow:hidden;">
            <div class="ty-grid-list__item" style="float: left;border-color: #c5c5c5;width: 300px;display: inline-block">
<a href="https://bazar.preciousplastic.com/index.php?dispatch=products.view&product_id=152">
    <img height="200px" src="https://precious-plastic.org/products/products/zoe-x/drawings/overview.JPG">
    <br/>
    <p style="text-align: center;">Shredder & Extrusion Combo 'Zoe' v4</p>
</a>
</div>
        </p>
        <p style="flex-grow:1;position:relative;overflow:hidden;">
            <div class="ty-grid-list__item" style="float: left;border-color: #c5c5c5;width: 300px;display: inline-block">
    <a href="https://bazar.preciousplastic.com/index.php?dispatch=products.view&product_id=179">
        <img height="200px"
            src="https://precious-plastic.org/products/products/lydia/media/preview.jpg">
        <br />
        <p style="text-align: center;">Extrusion v3</p>
    </a>
</div>
        </p>
        <p style="flex-grow:1;position:relative;overflow:hidden;">
            <div class="ty-grid-list__item" style="float: left;border-color: #c5c5c5;width: 300px;display: inline-block">
    <a href="https://bazar.preciousplastic.com/index.php?dispatch=products.view&product_id=159">
        <img height="200px"
            src="https://precious-plastic.org/products/products/lydia-v4/media/preview.jpg">
        <br />
        <p style="text-align: center;">Extrusion v4</p>
    </a>
</div>
        </p>
        <p style="flex-grow:1;position:relative;overflow:hidden;">
            <div class="ty-grid-list__item" style="float: left;border-color: #c5c5c5;width: 300px;display: inline-block;">
<a href="https://bazar.preciousplastic.com/index.php?dispatch=products.view&product_id=210">
    <img width="height" src="https://precious-plastic.org/products/products/sheetpress-cell/media/preview2.jpg">
    <br/>
    <p style="text-align: center;">Dual or single sheetpress</p>
</a>
</div>
        </p>
    </div>
    </div>
</div>