{% capture download %}/assets/images/{{include.src | relative}}{% endcapture %}


<figure>
    <div class="image_container">
        <a href="{{ download }}">
            <img class="asset_image" src="{{ download }}" />
        </a>
    </div>
</figure>