<div class="ty-grid-list__item" style="float:left;border-color: #c5c5c5;width: 200px;display: inline-block">
  <a href="{{include.url}}">
      <img height="200px" src="{{include.image}}">
      <br />
      <p style="text-align: center;">{{include.title}}</p>
  </a>
</div>
