{% if include.id %}
{% assign feature_row = page[include.id] %}
{% else %}
{% assign feature_row = page.feature_row %}
{% endif %}

<div class="feature__wrapper">

  {% for f in feature_row %}
  <div class="feature__item{% if include.type %}--{{ include.type }}{% endif %}">
    <div class="archive__item">

      <div class="archive__item-body">

        {% if f.price %}
        <h2 class="archive__item-price text-center">{{ f.price }}</h2>
        {% endif %}


        {% if f.title %}
        <h2 class="archive__item-title text-center">{{ f.title }}</h2>
        {% endif %}



      </div>

      {% if f.image_path %}
      <div class="archive__item-teaser">
        <a href="{{ f.url | relative_url }}.html">
          <img class="teaser-image" src="{{ f.image_path | relative_url }}" alt="{% if f.alt %}{{ f.alt }}{% endif %}">
        </a>
        {% if f.image_caption %}
        <span
          class="archive__item-caption text-center">{{ f.image_caption | markdownify | remove: "<p>" | remove: "</p>" }}</span>
        {% endif %}
      </div>
      {% endif %}

      {% if f.excerpt %}
      <div class="archive__item-excerpt text-center vertical-margin">
        {{ f.excerpt | markdownify }}
      </div>
      {% endif %}

      <div class="archive__item-body teaser-text-row">
        {% if f.url %}

        <p class="buttons">

          {% if f.buy %}
          <a href="{{ f.url | relative_url }}.url"
            class="btn {{ f.btn_class }} teaser-button-gray-dark">{{ f.btn_buy_label | default: "Buy Now" }}</a>
          {% endif %}

          <a href="{{ f.url | relative_url }}.html"
            class="btn {{ f.btn_class }} teaser-button-gray-light">{{ f.btn_label | default: site.data.ui-text[site.locale].more_label | default: "Learn More" }}</a>


        </p>
        {% endif %}
      </div>
    </div>
  </div>
  {% endfor %}

</div>