{% capture safety %}{{include.safety}}{% endcapture %}

{% capture complete %}{{include.complete}}{% endcapture %}

{% capture issues %}{{include.issues}}{% endcapture %}

<span id="features_bar" style="padding: 16px">
  <table>
    <tbody>
      <tr>
        <td>Safety:
        </td>
        <td>
          <div>
            {% include rating.html value=safety %}

            {% if include.safety_url %}

            {% include icon.html icon="link" href="#" %}

            {% endif %}
          </div>
        </td>
      </tr>


      <tr>
        <td>Completeness:
        </td>
        <td>
          <div>
              {% include rating.html value=complete %}
  
              {% if include.complete_url %}
  
              {% include icon.html icon="link" href="#" %}
  
              {% endif %}
          </div>
        </td>
      </tr>
      {% if include.issues %}
      <tr>
        <td>Issues:
        </td>
        <td>
          <div>
              {% include rating.html value=issues %}
  
              {% if include.issues_url %}
  
              {% include icon.html icon="link" href="#" %}
  
              {% endif %}
          </div>
        </td>
      </tr>
      {% endif %}
    </tbody>
  </table>
</span>