{%- capture product -%}{{page.product_id}}{%- endcapture -%}

<div class="feature-row-container">

    <h3 style="text-align:center" class="vertical-margin">Other products</h3>

    <div class="row">
    {% for f in site.products %}

    {% if f.product_id != product %}
    {% if f.type != "component" %}

    <div class="col-lg col-12 justify-content-center">

      <div class="archive__item2">
          <div class="archive__item-body2">
          {% if f.title %}
          <h2 class="archive__item-title text-center vertical-margin">{{ f.title }}</h2>
          {% endif %}
  
        </div>
  
        {% if f.image %}
        <div class="archive__item-teaser2 d-flex justify-content-center">
          <a href="{{ f.url | relative_url }}">
            <img class="other-product-image" src="{{ f.image | relative_url }}" alt="{% if f.alt %}{{ f.alt }}{% endif %}">
          </a>
        </div>
        {% endif %}
      </div>
    </div>

{% endif %}
{% endif %}

{% endfor %}
</div>
</div>