{%- capture product -%}{{include.product_id}}{%- endcapture -%}

{% for doc in site.products %}
{% if doc.product_id == product %}
<div class="main">
    <article class="splash">
        {% if page.title %}
        <meta itemprop="headline" content="{{ page.title | markdownify | strip_html | strip_newlines | escape_once }}">
        {% endif %}
        {% if page.excerpt %}
        <meta itemprop="description"
            content="{{ page.excerpt | markdownify | strip_html | strip_newlines | escape_once }}">
        {% endif %}
        {% if page.date %}
        <meta itemprop="datePublished" content="{{ page.date | date_to_xmlschema }}">
        {% endif %}
        {% if page.last_modified_at %}
        <meta itemprop="dateModified" content="{{ page.last_modified_at | date_to_xmlschema }}">
        {% endif %}
        <section class="page__content" itemprop="text">
            <div class="container home-main">
                <div class="row">
                {% if include.left %}
                    <div class="col-sm">
                        <div class="teaser-content">
                            <h5> {{doc.title}} </h5>
                            <span class="teaser-text">
                                {{ doc.teaser}}
                            </span>
                            
                            <div class="archive__item-body teaser-text-row buttons">
                                {% if doc.url %}
                                <p>
                                <a href="{{ doc.url | relative_url }}"
                                    class="btn {{ f.btn_class }} teaser-button-gray-light horizontal-margin-right">{{ f.btn_label | default: site.data.ui-text[site.locale].more_label | default: "Learn More" }}</a>
                        
                                {% if doc.buy %}
                                <a href="{{ doc.buy | relative_url }}"
                                    class="btn {{ f.btn_class }} teaser-button-gray-dark">{{ f.btn_buy_label | default: "Buy Now" }}</a>
                                {% endif %}
                        
                                </p>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                    <div class="col-sm vertical-margin">
                        <a href="{{ doc.url | relative_url }}">
                        <img src="{{ doc.product_perspective | relative_url }}" alt="{{ image_description }}"
                            class="page__hero-image teaser-image-contain">
                        </a>
                    </div>

                    {% else %}
                    
                    <div class="col-sm vertical-margin">
                            <a href="{{ doc.url | relative_url }}">
                        <img src="{{ doc.product_perspective | relative_url }}" alt="{{ image_description }}"
                            class="page__hero-image teaser-image-contain">
                        </a>
                    </div>

                    <div class="col-sm">
                        <div class="teaser-content">
                            <h5> {{doc.title}} </h5>
                            <span class="teaser-text">
                                {{ doc.teaser}}
                            </span>
                            
                            <div class="archive__item-body teaser-text-row buttons">
                                {% if doc.url %}
                                <p>
                                <a href="{{ doc.url | relative_url }}"
                                    class="btn {{ f.btn_class }} teaser-button-gray-light horizontal-margin-right">{{ f.btn_label | default: site.data.ui-text[site.locale].more_label | default: "Learn More" }}</a>
                        
                                {% if doc.buy %}
                                <a href="{{ doc.buy | relative_url }}"
                                    class="btn {{ f.btn_class }} teaser-button-gray-dark">{{ f.btn_buy_label | default: "Buy Now" }}</a>
                                {% endif %}
                        
                                </p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {%endif%}
                </div>
            </div>
        </section>
    </article>
</div>
{% endif %}
{% endfor %}