 {% capture download %}{{page.download}}{% endcapture %} 
 {% capture wiki %}{{page.product_wiki}}#build{% endcapture %} 
 
 {% capture link3d %}{{page.product_rel}}/resources/edrawings.html{% endcapture %}

<div class="row vertical-margin">
    <div class="col text-center">
        <a href="javascript:void(0);" class="iframe-lightbox-link" data-src="{{link3d}}" data-padding-bottom="56.25%">
      {% include icon.html icon="cube" classes="fa-3x black" label="3D Preview" %}
    </a>
    </div>

    <div class="col text-center">
        {% include icon.html icon="tools" label="Wiki" classes="fa-3x black" href=wiki %}
    </div>

    <div class="col text-center">
        {% include icon.html icon="download" label="Download" classes="fa-3x black" href=download %}
    </div>
</div>