{% if include.id %}
{% assign products_row = page[include.id] %}
{% else %}
{% assign products_row = page.products_row %}
{% endif %}

<div class="feature__wrapper">

  {% for f in products_row %}
  <div class="product__item{% if include.type %}--{{ include.type }}{% endif %}">
    <div class="archive__item">
      
      {% if f.image_path %}
      <div class="archive__item-teaser">
        <a href="{{ f.url | relative_url }}">
          <img class="product-image" src="{{ f.image_path | relative_url }}" alt="{% if f.alt %}{{ f.alt }}{% endif %}">
        </a>
        {% if f.image_caption %}
        <span
          class="archive__item-caption text-center">{{ f.image_caption | markdownify | remove: "<p>" | remove: "</p>" }}</span>
        {% endif %}
      </div>
      {% endif %}
      <div class="archive__item-body teaser-text-row">
        
      </div>
    </div>
  </div>
  {% endfor %}

</div>