{% if include.target %}
{% capture download %}{{page.product_rel}}{{include.target}}{% endcapture %}
{% else %}
{% capture download %}{{page.product_rel}}{{include.src}}{% endcapture %}
{% endif %}


<figure>
    <div class="image_container">
        <a href="{{page.product_rel}}{{include.src}}">
            <img class="product_image {{include.size}}" src="{{page.product_rel}}{{include.src}}" />
            {% if include.download !=false %}
                {% include icon.html icon="download" href=download %}
            {%endif%}    
        </a>
        <figcaption>{{include.title}}</figcaption>
    </div>
</figure>