{% if include.id %}
  {% assign swiper = page[include.id] %}
{% else %}
  {% assign swiper = page.swiper %}
{% endif %}
<div class="product-gallery">
<div class="swiper-container gallery-top">
  <div class="swiper-wrapper">
    {% for p in swiper %}
      <div class="swiper-slide">
        <a href="{{p.url}}">
          <img src="{{p.url}}">
        </a>
      </div>

    {% endfor %}
  </div>
  <!-- Add Arrows -->
  <div class="swiper-button-next swiper-button-white"></div>
  <div class="swiper-button-prev swiper-button-white"></div>
</div>

<div class="swiper-container gallery-thumbs">
  <div class="swiper-wrapper">
    {% for p in swiper %}
    <div class="swiper-slide">
          <img src="{{p.url}}">
      </div>
    {% endfor %}
  </div>
</div>
</div>

<script src="{{ '/assets/js/swiper-bundle.min.js' | relative_url }}"></script>

  <script>
      var galleryThumbs = new Swiper('.gallery-thumbs', {
        spaceBetween: 10,
        slidesPerView: 4,
        freeMode: true,
        watchSlidesVisibility: true,
        watchSlidesProgress: true,
      });
      var galleryTop = new Swiper('.gallery-top', {
        spaceBetween: 10,
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev',
        },
        thumbs: {
          swiper: galleryThumbs
        }
      });
    </script>