<div>

    <a href="${product_perspective}">
        <img src="${product_perspective}" style="margin:8px; float: left;max-width:50%;max-height: 400px;" />
    </a>

    <span style="font-size: smaller; margin-top: 16px;">
        Shredder and extrusion combo. Easy to transport and ideal for a educational context and small enterprises.        
    </span>

    <div style="display: table-cell;">
        ${mini_specs}
        
        {% include machine_toolbar.html download="${download}" preview="${product_3d}" %}
        

    </div>

</div>


<div style="margin: 8px;clear:both">
    
</div>

<hr />

${detail}

${products}