.home-main {
  margin: 4em;
}

.black {
  color: #303030b4;
}
.index-link {
  text-decoration: none;
  font-size: smaller;
}
.main-alternative {
  background: #f3f3f3;
  padding-top: 2em;
  padding-bottom: 2em;
  @include clearfix;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1em;
  padding-right: 1em;

  @include breakpoint($medium) {
    padding-left: 2em;
    padding-right: 2em;
  }

  max-width: 100%;
}

.main-alternative-inner {
  @include breakpoint($x-large) {
    max-width: $x-large;
  }

  margin-left: auto;
  margin-right: auto;
}

.archive__item-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
}

.archive__item-price {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  text-align: center;
}

.other-product-image {
  min-height: 200px;
  max-height: 200px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background: #ffffff;
  border-radius: 10px;
  max-width: 200px;
}

.teaser-image {
  min-height: 300px;
  max-height: 300px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background: #ffffff;
  border-radius: 10px;
  /*max-width: 300px;*/
}

.product-image {
  min-height: 241px;
  max-height: 241px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background: #ffffff;
  border-radius: 10px;
}

.parts_table {
  TABLE {
    display: table;
    width: auto;
    margin: auto;
  }
}
.teaser-text {
  font-size: 14px;
}

.teaser-content {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  text-align: justify;
  @include breakpoint($medium) {
    position: absolute;
    top: 30%;
  }
}

.teaser-image-contain {
  min-height: 300px;
  max-height: 300px;
  width: 100%;
  height: 100%;
  object-fit: contain;
  background: #ffffff;
  border-radius: 10px;
}

.teaser-image-contain-big {
  object-fit: contain;
  background: #ffffff;
  border-radius: 10px;
  min-height: 300px;
  max-height: 300px;

  .large {
    max-height: 500px;
  }
}

.teaser-image-contain-large {
  object-fit: contain;
  background: #ffffff;
  border-radius: 10px;
  min-height: 300px;
  max-height: 500px;
}

.big-black-btn {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
}

.teaser-button-gray-light {
  background: #fff;
  border-radius: 2px;
  color: #465363;
  font-weight: normal;
  font-family: Roboto;
  border: 1px solid black;
}

.teaser-button-gray-dark {
  background: #fe814d;
  border-radius: 2px;
  border: 1px solid black;
  color: white;
  font-weight: normal;
  font-family: Roboto;
}

.btn--primary:visited {
  background-color: inherit;
}

.horizontal-margin {
  margin-left: 1em;
  margin-right: 1em;
}

.horizontal-margin-right {
  margin-right: 2em;
}

.vertical-margin {
  margin-top: 1em;
  margin-bottom: 1em;
}

.feature-text {
  font-size: smaller;
}

.text-smaller {
  font-size: smaller;
}

.vertical-gap {
  margin-top: 4em;
}

.vertical-2em {
  margin-top: 2em;
}

table.specs {
  display: table;
  width: auto;
}

table.specs td:nth-child(1) {
  font-weight: 600;
}

.teaser-text-row {
  padding-top: 1em;
  margin-right: 1em;
  .buttons {
    text-align: center;
  }

  .buttons {
    @include breakpoint($medium) {
      text-align: left;
    }
  }
}

.btn-view-products {
  background: #fe814d;
  border-radius: 2px;
  border: 1px solid black;
}

.feature-row-container {
  padding-left: 1em;
  padding-right: 1em;
}

.image_container {
  text-align: center;
}

.center-row {
  justify-content: center;
}

.orange {
  color: #fe814d;
}

.badge {
  @include breakpoint($medium) {
    height: 80px;
    .small {
      height: 64px;
    }
  }
}

.icon {
  vertical-align: middle;
  margin-top: 1em;
}

.rating-wrapper {
  width: 80px;
  float: left;
  margin: 1em 0em;
}

.product_image {
  max-width: 100%;

  .medium {
    max-width: 50%;
  }

  @include breakpoint($medium) {
    max-width: 70%;
  }
  @include breakpoint($large) {
    max-width: 60%;
  }
}

.editor-highlight {
  border-color: 1px solid blue;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

[data-style="mypops"] + .popover {
  background: #4194ca;
}

[data-style="mypops"] + .popover.bottom .arrow:after {
  border-bottom-color: #4194ca;
}

[data-style="mypops"] + .popover-content {
}

.popovermenu {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.popovermenu li {
}

.popovermenu li a {
  color: #fff;
}

.product_image.medium {
  max-width: 50%;
}

.product_image.small {
  max-width: 33%;
}

.thumbs {
  text-align: center;
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: stretch;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
}

.thumb {
  @include breakpoint($x-large) {
    max-width: 50%;
  }

  @include breakpoint($large) {
    max-width: 50%;
  }

  @include breakpoint($medium-wide) {
    max-width: 50%;
  }

  padding: 1em;
  max-height: 50%;
}

.progress-bar-rating {
  width: 100%;
  background-color: #e2e2e2;
  padding: 1px;
  border-radius: 2px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

.progress-bar-fill {
  display: block;
  height: 13px;
  background-color: #4e91a561;
  border-radius: 2px;
  transition: width 500ms ease-in-out;

  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}

.tab-content {
  padding: 1em 0em;
}

.container-fluid {
  max-width: 1200px;
  min-width: 280px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 15px;
  color: #465363;
}

.ty-vendor-plans {
  margin-top: 40px;
  text-align: center;
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: stretch;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
}

.ty-vendor-plans__title {
  text-align: center;
  margin-bottom: 60px;
}

.ty-vendor-plans__title-header {
  font-size: 28px;
}

.ty-vendor-plans-info {
  min-height: 280px;
}

.ty-vendor-plans__item {
  display: inline-block;
  width: 220px;
  background: #fbfbfb;
  vertical-align: top;
  margin-right: 25px;
  margin-bottom: 25px;
  border: 1px solid #f0f0f0;
  padding: 1px;
  transition: all 200ms;
}

.ty-vendor-plans__item:hover {
  border-color: #dedede;
}

.ty-vendor-plans__item.active {
  background: #fff;
  border: 0;
  box-shadow: 0 0 30px #bfbfbf;
}

.ty-vendor-plans__item.active .ty-vendor-plan-content,
.ty-vendor-plans__item.vendor-plan-current {
  margin-top: 0;
}

.ty-vendor-plans__item.hidden {
  display: none;
}

.ty-vendor-plans__item .ty-vendor-plan-current-plan {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 300;
  color: #fff;
  background-color: #f90;
  border-radius: 3px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  display: inline;
  padding: 4px 18px;
}

.ty-vendor-plans__item .ty-vendor-plan-content {
  padding: 7px 14px;
  margin-top: 10px;
}

.ty-vendor-plans__item .ty-vendor-plan-descr {
  min-height: 1em;
}

.ty-vendor-plans__item .ty-vendor-plan-header {
  margin-top: 10px;
  font-weight: 200;
  font-size: 24px;
}

.ty-vendor-plans__item .ty-vendor-plan-price {
  font-size: 25px;
  text-transform: uppercase;
  font-weight: 600;
  margin-right: 5px;
}

.ty-vendor-plans__item .ty-vendor-plan-price-period {
  color: #999;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  text-transform: lowercase;
  line-height: 1em;
}

.ty-vendor-plans__item .ty-vendor-plan-link {
  margin-top: 20px;
  margin-bottom: 10px;
}

.ty-vendor-plans__item .ty-vendor-plan-params {
  padding: 15px 0;
}

.ty-vendor-plans__item .ty-vendor-plan-params p {
  margin: 0;
  padding: 2px 0;
  font-size: 14px;
}

.ty-grid-list__item,
.ty-product-list {
  background: #fff;
  border-radius: 8px;
  transition: all 0.2s ease-in-out 0s;
  box-shadow: none;
  overflow: hidden;
  border: 1px solid #edf2f5;
  border-radius: 5px;
  margin: 0 10px 25px !important;
  padding: 10px 10px 20px;
  max-width: 300px;
}

.ty-grid-list__item_small,
.ty-product-list_small {
  background: #fff;
  border-radius: 8px;
  transition: all 0.2s ease-in-out 0s;
  box-shadow: none;
  overflow: hidden;
  border: 1px solid #edf2f5;
  border-radius: 5px;
  margin: 0 10px 25px !important;
  padding: 10px 10px 20px;
  max-width: 150px;
}

.ty-grid-list__item--overlay:hover,
.ty-product-list:hover {
  box-shadow: none;
  border-color: #000;
  transform: scale(1.02);
}

.ty-grid-list__image {
  border-radius: 6px 0;
}

.ty-product-list__image {
  margin-bottom: 0;
}

.ty-product-list__image img {
  border: none;
  object-fit: cover;
  width: 220px;
  height: 220px;
}

.cover {
  object-fit: cover;
  height: 250px;
}

.cover_small {
  object-fit: cover;
  height: 150px;
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("/assets/fonts/roboto-v20-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Roboto"), local("Roboto-Regular"),
    url("/assets/fonts/roboto-v20-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("/assets/fonts/roboto-v20-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("/assets/fonts/roboto-v20-latin-regular.woff") format("woff"),
    /* Modern Browsers */ url("/assets/fonts/roboto-v20-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("/assets/fonts/roboto-v20-latin-regular.svg#Roboto") format("svg");
  /* Legacy iOS */
}

.product__item {
  position: relative;
  margin-bottom: 2em;
  font-size: 1.125em;

  @include breakpoint($small) {
    float: left;
    margin-bottom: 0;
    width: span(3 of 12);

    &:nth-child(4n + 1) {
      clear: both;
      margin-left: 0;
    }

    &:nth-child(4n + 2) {
      clear: none;
      margin-left: gutter(of 12);
    }

    &:nth-child(4n + 3) {
      clear: none;
      margin-left: gutter(of 12);
    }

    &:nth-child(4n + 4) {
      clear: none;
      margin-left: gutter(of 12);
    }

    .feature__item-teaser {
      max-height: 200px;
      overflow: hidden;
    }
  }

  .archive__item-body {
    padding-left: gutter(1 of 12);
    padding-right: gutter(1 of 12);
  }

  a.btn::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }

  &--left {
    position: relative;
    float: left;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    clear: both;
    font-size: 1.125em;

    .archive__item {
      float: left;
    }

    .archive__item-teaser {
      margin-bottom: 2em;
    }

    a.btn::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
    }

    @include breakpoint($small) {
      .archive__item-teaser {
        float: left;
        width: span(5 of 12);
      }

      .archive__item-body {
        float: right;
        padding-left: gutter(0.5 of 12);
        padding-right: gutter(1 of 12);
        width: span(7 of 12);
      }
    }
  }

  &--right {
    position: relative;
    float: left;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    clear: both;
    font-size: 1.125em;

    .archive__item {
      float: left;
    }

    .archive__item-teaser {
      margin-bottom: 2em;
    }

    a.btn::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
    }

    @include breakpoint($small) {
      text-align: right;

      .archive__item-teaser {
        float: right;
        width: span(5 of 12);
      }

      .archive__item-body {
        float: left;
        width: span(7 of 12);
        padding-left: gutter(0.5 of 12);
        padding-right: gutter(1 of 12);
      }
    }
  }

  &--center {
    position: relative;
    float: left;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    clear: both;
    font-size: 1.125em;

    .archive__item {
      float: left;
      width: 100%;
    }

    .archive__item-teaser {
      margin-bottom: 2em;
    }

    a.btn::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
    }

    @include breakpoint($small) {
      text-align: center;

      .archive__item-teaser {
        margin: 0 auto;
        width: span(5 of 12);
      }

      .archive__item-body {
        margin: 0 auto;
        width: span(7 of 12);
      }
    }
  }
}

.swiper-container {
  width: 100%;
  /*height: 300px;*/
  max-width: 400px;
  /*
    margin-left: auto;
    margin-right: auto;*/
}

.swiper-slide {
  background-size: contain;
  background-position: center;
  img {
    object-fit: contain;
  }
}

.gallery-top {
  max-height: 600px;
  /*width: 33%;*/
}

.gallery-thumbs {
  /*height: 200px;*/
  box-sizing: border-box;
  padding: 10px 0;
  max-height: 120px;
  /*width: 30%;*/
}

.gallery-thumbs .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}

.gallery-thumbs .swiper-slide-thumb-active {
  opacity: 1;
}

.center-row {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.col-third {
}
