<div>

    <a href="${product_perspective}">
        <img src="${product_perspective}" style="margin:8px; float: left;max-width:50%;max-height: 400px;" />
    </a>

    <span style="font-size: smaller; margin-top: 16px;">
        Perfect for more complicated molds and better production rates as well good quality with high precision. Easy
        to transport and ideal for a educational context and small enterprises.
    </span>

    <div style="display: table-cell;">
        ${mini_specs}

        {% include feature_bars.html issues="95" complete="90" safety="80" safety_url="#" %}
        
        {% include machine_toolbar.html download="${download}" preview="${product_3d}" %}

    </div>

</div>

<div style="margin: 8px;clear:both">
    
</div>

<hr />

${products}