<p><p><a href="www.precious-plastic.org">Plastic Hub</a> -&gt; <a href="https://precious-plastic.org/products/products/">Machines</a> </p> -&gt; <span>Extrusion & Shredder Combo</span></p>
<hr/>
<p>
<p>This is our best seller and is truly open source. It comes with auto-reverse and lots of safety functions.</p></p>
<div>
    <a href="https://precious-plastic.org/products/products/zoe/drawings/overview.JPG">
        <p style="text-align: center">
            <img width="100%" src="https://precious-plastic.org/products/products/zoe/drawings/overview.JPG">
        </p>
    </a>
    <a href="https://precious-plastic.org/products/products/components/hal/overview.JPG">
        <p style="text-align: center">
            <img width="100%" src="https://precious-plastic.org/products/products/components/hal/overview.JPG">
        </p>
    </a>
</div>
<h3 id="features">Features</h3>
<ul>
<li>Safe hopper – with optional door.</li>
<li>Very precise auto-reverse when jamming. It stops after 3 trials and gives visual</li>
<li>Status lights : Ok &amp; Error</li>
<li>Emergency and reset button</li>
<li>Various motor protections (thermal &amp; magnetic).</li>
<li>Jam detection for extrusion mode.</li>
<li>Rigid, flexible and modular framework – enabling hacking and extensions. - The base plate is 15 mm thick.</li>
<li>The legs have M10 threads on each end so you can connect levelers or wheels. The legs have also extra holes to install easily extra sheets all around.</li>
<li>Extrusion hopper can be easily detached.</li>
<li>Thermocouples (sensors) have clips, easy to detach.</li>
<li>Complies also with basic regulations in schools.</li>
<li>Stops automatically after one hour of inactivity.</li>
<li>High quality cables and wiring according to industrial standards.</li>
<li>High precision mounts for shredder &amp; extrusion, making sure everything is aligned perfectly.</li>
<li>Won’t start when power is back.</li>
<li>Strong 32 mm hexbar and 35 mm driveshaft</li>
<li>Compression screw</li>
</ul>
<hr/>
<div>    
    <div style="padding: 16px; display: inline-block">
        <p><strong>Product Resources</strong></p>
<ul>
<li><a href="https://myhub.autodesk360.com/ue2b6df80/g/shares/SH7f1edQT22b515c761e2cc46804b9803c4c">3D Preview</a></li>
<li><a href="https://gitlab.com/plastichub/products/tree/master/products/zoe/drawings">Drawings</a></li>
<li><a href="https://gitlab.com/plastichub/products/tree/master/products/zoe/cad">CAD model</a></li>
<li><a href="https://precious-plastic.org/home/library/machines/zoe/">Wiki</a></li>
<li><a href="https://gitlab.com/plastichub/products/tree/master/products/zoe">Source files</a></li>
<li><a href="https://discord.gg/SN6MT5N">Discord Chat</a></li>
</ul>
<p></p>
    </div>
</div>
<br/>


<br/>
<div class="ty-grid-list__item" style="clear:both;border-color: #c5c5c5;"">
<table>
    <tbody>
        <tr>
            <td>

<b>Payment terms</b>
<ul>
<li>70% upfront via bank transfer & invoice</li>
<li> remaining 30% have to be paid as soon the machine is ready to be shipped (you will receive a tracking ID)</li>
</ul>
</td>

<td>

<b> Warrenty & Support</b>
<ul>
<li>All parts are new and come with warrenty and have also mostly CE certification</li>

<li>After you receive the machine, we help you via Whatsapp video chat to assemble the parts, in case our Youtube instructions don't work for you</li>

</ul>
</td>

</tr>
</tbody>
<table>
</div>
<hr/>
<div style="padding:16px;text-align: center;">
    <h3> See our other products </h3>
    <div class="ty-vendor-plans">
        <div class="ty-grid-list__item" style="float: left;border-color: #c5c5c5;width: 300px;display: inline-block">
<a href="https://bazar.preciousplastic.com/index.php?dispatch=products.view&product_id=99">
    <img style="height:200px"  height="200px" src="https://precious-plastic.org/products/products/elena/media/preview.jpg">
    <br/>
    <p style="text-align: center;">Arbor Injection</p>
</a>
</div> 
        <div class="ty-grid-list__item" style="float: left;border-color: #c5c5c5;width: 300px;display: inline-block;">
<a href="https://bazar.preciousplastic.com/index.php?dispatch=products.view&product_id=210">
    <img width="height" src="https://precious-plastic.org/products/products/sheetpress-cell/media/preview2.jpg">
    <br/>
    <p style="text-align: center;">Dual or single sheetpress</p>
</a>
</div> 
        <div class="ty-grid-list__item" style="float: left;border-color: #c5c5c5;width: 300px;display: inline-block">
    <a href="https://bazar.preciousplastic.com/index.php?dispatch=products.view&product_id=179">
        <img height="200px"
            src="https://precious-plastic.org/products/products/lydia/media/preview.jpg">
        <br />
        <p style="text-align: center;">Extrusion v3</p>
    </a>
</div> 
        <div class="ty-grid-list__item" style="float: left;border-color: #c5c5c5;width: 300px;display: inline-block">
    <a href="https://bazar.preciousplastic.com/index.php?dispatch=products.view&product_id=159">
        <img height="200px"
            src="https://precious-plastic.org/products/products/lydia-v4/media/preview.jpg">
        <br />
        <p style="text-align: center;">Extrusion v4</p>
    </a>
</div>
    </div>
</div></p>
<div style="clear: both;">
    <p style="text-align:center ;">
        <a href="https://gitlab.com/plastichub/products/tree/master/products">See more open sourced products</a>
    </p>
</div>
<p><hr/>
<p style="color:#f58d8e;clear: both;text-align: center;">
    <a href="https://www.instagram.com/plastichubcat/"><span style="color:#f58d8e;">Instagram</span></a> | <a
        href="https://gitlab.com/plastichub"><span style="color:#f58d8e;">Github (open source files)</span></a> | <a href="mailto://cgoflyn@gmail.com"><span
            style="color:#f58d8e;">EMail</span></a> | <a href="https://www.facebook.com/plastichubcat"><span
            style="color:#f58d8e;">Facebook</span></a> | <a href="https://precious-plastic.org/library/machines/"><span
            style="color:#f58d8e;">Wiki</span></a> | <a href="https://community.preciousplastic.com/u/plastichub"><span
            style="color:#f58d8e;">Community map</span></a>
</p>
<p style="color:#f58d8e;clear: both;text-align: center;"><a href="https://discord.gg/nVaNCs3"><span style="color:#f58d8e;">Discord - Support Chat (pre-sales,
            community)</span></a> | <a href="tel://0034666894789"><span style="color:#f58d8e;">Telefon (Whatsapp,
            English, French, German, Spanish, Catalan)</span></a>
</p>
<hr/>
<p><table>
    <tbody>
        <tr>
            <td>
                <a href="https://www.instagram.com/plastichubcat">
                    <img width="30px"
                        src="https://raw.githubusercontent.com/plastic-hub/products/master/bazar/assets/instagram-logo.png" />
                </a>
            </td>
            <td>
                <a href="https://www.youtube.com/channel/UCuWDxJtV2pf5BefHEy09Cew/featured?view_as=subscriber">
                    <img width="30px"
                        src="https://raw.githubusercontent.com/plastic-hub/products/master/bazar/assets/002-youtube.png" />
                </a>
            </td>
            <td>
                <a alt="Open Source Projects" href="https://gitlab.com/plastichub">
                    <img width="30px"
                        src="https://raw.githubusercontent.com/plastic-hub/products/master/bazar/assets/github.png" />
                </a>
            </td>

            <td>
                <a alt="" href="tel:0034666894789">
                    <img width="30px"
                        src="https://raw.githubusercontent.com/plastic-hub/products/master/bazar/assets/007-whatsapp.png" />
                </a>
            </td>

            <td>
                <a alt="" href="https://www.facebook.com/plastichubcat/">
                    <img width="30px"
                        src="https://raw.githubusercontent.com/plastic-hub/products/master/bazar/assets/043-facebook-1.png" />
                </a>
            </td>
            <td>
                <a alt="" href="mailto:cgoflyn@gmail.com">
                    <img width="30px"
                        src="https://raw.githubusercontent.com/plastic-hub/products/master/bazar/assets/012-mail-2.png" />
                </a>
            </td>
            <td>
                <a alt="" href="https://precious-plastic.org/">
                    <img width="30px"
                        src="https://raw.githubusercontent.com/plastic-hub/products/master/bazar/assets/006-wordpress.png" />
                </a>
            </td>
            <td>
                <a alt="" href="https://discord.gg/SN6MT5N">
                    <img width="30px"
                        src="https://raw.githubusercontent.com/plastic-hub/products/master/bazar/assets/discord.png" />
                </a>
            </td>
        </tr>
    </tbody>
</table></p></p>