<p>
    This ladies and gentlemen is the very first full automatic shredding system - in it's class and it's OpenSource!<br/>    
    The electronic plunger makes it extrem safe to use. It won't shredd with hopper opened. <br/>
</p>

<p>
    The machine has been used to develop a vending shredder and is like new. We don't need it anymore since we chose another shredder design.
    The electronic plunger will be migrated to all other shredder machines as well and will be available separately.<br/>    
 </p>

<hr>
    <h5> Features / Details </h5>
    
    ${features}

<hr>
<div>

    <div id="specs" style="padding: 16px">
        <strong>Technical Information</strong>
        <table>
            <tbody>
                <tr>
                    <td>Version
                    </td>
                    <td>1.0
                    </td>
                </tr>
                <tr>
                    <td> Weight
                    </td>
                    <td>50 kg
                    </td>
                </tr>
                <tr>
                    <td> Voltage
                    </td>
                    <td>220V
                    </td>
                </tr>
                <tr>
                    <td> Power
                    </td>
                    <td>1.5kW
                    </td>
                </tr>
                <tr>
                    <td> License
                    </td>
                    <td><a href="https://ohwr.org/cernohl">CERN Open Source Hardware License</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>
<div style="clear:both">
    <div>
        <a href="${product_overview}">
            <p style="text-align: center">
                <img width="100%" src="${product_overview}">
            </p>
        </a>
    </div>


    <div style="padding: 16px; display: inline-block">
        ${product_resources}
    </div>

    </p>
</div>
