<hr/>
<div style="padding:16px;text-align: center;">
    <h3> Howtos </h3>
    <div class="ty-vendor-plans">
        ${howto_bricks}
        ${howto_light_beams}
        ${howto_mold_beams}
    </div>
</div>

<div style="clear: both;">
    <p style="text-align:center ;">
        <a href="https://community.preciousplastic.com/how-to">See more how-tos</a>
    </p>
</div>
<hr/>