<div class="change_log_entry">
    <span>
        <pre>Saturday, June 13, 2020 12:30 PM&nbsp;</pre></span><span><a href="https://gitlab.com/plastichub/products/commit/89fd98c754105c73163c98375acbbced12db1365">updated build requirements.</a></span>
    <ul>
        <li><a href="https://gitlab.com/plastichub/products/blob/master/products/sheetpress-cell/templates/jekyll/changelog.html">products/sheetpress-cell/templates/jekyll/changelog.html</a></li>
    </ul>
</div>
<br />
<div class="change_log_entry">
    <span>
        <pre>Saturday, June 13, 2020 12:29 PM&nbsp;</pre></span><span><a href="https://gitlab.com/plastichub/products/commit/84e6630956ef76a613120eef407cc716729df2e5">updated build requirements.</a></span>
    <ul>
        <li><a href="https://gitlab.com/plastichub/products/blob/master/products/sheetpress-cell/requirements.csv">products/sheetpress-cell/requirements.csv</a></li>,<li><a href="https://gitlab.com/plastichub/products/blob/master/products/sheetpress-cell/templates/jekyll/changelog.html">products/sheetpress-cell/templates/jekyll/changelog.html</a></li>
    </ul>
</div>
<br />
<div class="change_log_entry">
    <span>
        <pre>Saturday, June 13, 2020 12:25 PM&nbsp;</pre></span><span><a href="https://gitlab.com/plastichub/products/commit/9328e9c72e67002328f3d71e9e26d60363bf249b">added build pictures</a></span>
    <ul>
        <li><a href="https://gitlab.com/plastichub/products/blob/master/products/sheetpress-cell/resources/cheater-press.JPG">products/sheetpress-cell/resources/cheater-press.JPG</a></li>,<li><a href="https://gitlab.com/plastichub/products/blob/master/products/sheetpress-cell/resources/forklift.JPG">products/sheetpress-cell/resources/forklift.JPG</a></li>,<li><a href="https://gitlab.com/plastichub/products/blob/master/products/sheetpress-cell/resources/mini_drillpress.JPG">products/sheetpress-cell/resources/mini_drillpress.JPG</a></li>,<li><a href="https://gitlab.com/plastichub/products/blob/master/products/sheetpress-cell/resources/press.JPG">products/sheetpress-cell/resources/press.JPG</a></li>
    </ul>
</div>
<br />
<div class="change_log_entry">
    <span>
        <pre>Saturday, June 13, 2020 12:24 PM&nbsp;</pre></span><span><a href="https://gitlab.com/plastichub/products/commit/3a6f26c23f03eafb152c18f20acc4b014b3a9685">added build pictures</a></span>
    <ul>
        <li><a href="https://gitlab.com/plastichub/products/blob/master/products/sheetpress-cell/templates/jekyll/build.md">products/sheetpress-cell/templates/jekyll/build.md</a></li>
    </ul>
</div>
<br />
<div class="change_log_entry">
    <span>
        <pre>Saturday, June 13, 2020 10:15 AM&nbsp;</pre></span><span><a href="https://gitlab.com/plastichub/products/commit/4578654420fad90101a14dd510cd9ab80392d3ce">updated sheetpress build issues</a></span>
    <ul>
        <li><a href="https://gitlab.com/plastichub/products/blob/master/products/sheetpress-cell/config.yaml">products/sheetpress-cell/config.yaml</a></li>,<li><a href="https://gitlab.com/plastichub/products/blob/master/products/sheetpress-cell/resources/circuit.jpg">products/sheetpress-cell/resources/circuit.jpg</a></li>,<li><a href="https://gitlab.com/plastichub/products/blob/master/products/sheetpress-cell/resources/circuit.pdf">products/sheetpress-cell/resources/circuit.pdf</a></li>,<li><a href="https://gitlab.com/plastichub/products/blob/master/.../templates/jekyll/Schematics380V.md">.../templates/jekyll/Schematics380V.md</a></li>,<li><a href="https://gitlab.com/plastichub/products/blob/master/products/sheetpress-cell/templates/jekyll/build.md">products/sheetpress-cell/templates/jekyll/build.md</a></li>,<li><a href="https://gitlab.com/plastichub/products/blob/master/.../sheetpress-cell/templates/jekyll/wiring.md">.../sheetpress-cell/templates/jekyll/wiring.md</a></li>
    </ul>
</div>