
<div>

    <a href="${product_perspective}">
        <img src="${product_perspective}" style="margin:8px; float: left;max-width:50%;max-height: 400px;" />
    </a>

    <span style="font-size: smaller; margin-top: 16px;">
        Precious Plastic Sheetpress with updates.
    </span>

    <div style="display: table-cell;">
        ${mini_specs}

        {% include machine_toolbar.html download="${download}" preview="${product_3d}" %}

    </div>

</div>

<div style="margin: 8px;clear:both">
    
</div>

<a href="${product_overview}">
    <img src="${product_overview}" style="margin:8px;" />
</a>

<hr />

${features}

<hr />

${academy_overview}

<hr />

${products}

