<div prefix="" file="product.html" context="machine" class="fragment"><div prefix="" file="breadcrumb.md" context="machine" class="fragment">
    <p><a href="www.precious-plastic.org">Plastic Hub</a> -&gt; <a href="https://precious-plastic.org/products/products/">Machines</a> </p>
</div> -> <span>Shredder & Extrusion Controller</span>

    <hr />

    
    <div prefix="" file="body.md" context="machine" class="fragment">
    <p>Industrial grade shredder and/or extrusion controller, works with v3 and v4. This system adds max. possible safety.</p>
    <p>This controller uses an industrial Arduino based controller as well a DIN rail current sensor
        to detect jamming. Please check the wiki section for the source code and wiring details.</p>
    <p>This system was 8 months in development and is mostly used in our products with educational contexts.</p>
    <div>
        <a href="https://precious-plastic.org/products/products/components/hal/drawings/overview.JPG">
            <p style="text-align: center">
                <img width="100%" src="https://precious-plastic.org/products/products/components/hal/drawings/overview.JPG" />
            </p>
        </a>
    </div>
    <h3 id="features">Features</h3>
    <ul>
        <li>Very precise auto-reverse</li>
        <li>Status lights : Ok &amp; Error</li>
        <li>Emergency and reset button</li>
        <li>Uses contactor for the power circuit</li>
        <li>Extra motor protection (thermal &amp; magnetic).</li>
        <li>Stops automatically after one hour of inactivity.</li>
        <li>High quality cables and wiring according to industrial standards.</li>
        <li>Won’t start when power is back after powerloss</li>
        <li>Incl. a VFD which enables to 3phase motors on single phase. Please let us know which voltage and power you'd like to use.</li>
        <li>Optional on request: Auto-Shredd (hopper filled sensor)</li>
        <li>Optional on request: Auto-Suspend &amp; Resume (shut's down entire power circuit)</li>
        <li>All components have warrenty and are CE certified</li>
        <li>Modular open source firmware being also used in other products</li>
    </ul>
    <div>
        <div style="padding: 16px; display: inline-block">
            <div prefix="" file="product_resources.md" context="machine" class="fragment">
    <p><strong>Product Resources</strong></p>
    <ul>
        <li><a href="https://myhub.autodesk360.com/ue2b6df80/g/shares/SH7f1edQT22b515c761e2cc46804b9803c4c">3D Preview</a></li>
        <li><a href="https://library.plastic-hub.com/machines/hal.html">Wiki</a></li>
        <li><a href="https://gitlab.com/plastichub/firmware/tree/master/shredder-extrusion/zoe">Firmware - New</a></li>
        <li><a href="https://precious-plastic.org/howto/#zoe">Howtos - Machine builder</a></li>
    </ul>
</div>
        </div>
    </div>
</div>
    <br />
    
    
    <hr />
    <div prefix="" file="others.html" context="machine" class="fragment">
    <div style="padding:16px;text-align: center;">
        <h3> See our other products </h3>
        <div class="ty-vendor-plans">
            <div prefix="" file="elena.html" context="machine" class="fragment">
    <div class="ty-grid-list__item" style="float: left;border-color: #c5c5c5;width: 300px;display: inline-block">
        <a href="https://bazar.preciousplastic.com/index.php?dispatch=products.view&product_id=99">
            <img style="height:200px" height="200px" src="https://precious-plastic.org/products/products/elena/media/preview.jpg">
            <br />
            <p style="text-align: center;">Arbor Injection</p>
        </a>
    </div>
</div>
            <div prefix="" file="sheetpress.html" context="machine" class="fragment">
    <div class="ty-grid-list__item" style="float: left;border-color: #c5c5c5;width: 300px;display: inline-block;">
        <a href="https://bazar.preciousplastic.com/index.php?dispatch=products.view&product_id=210">
            <img width="height" src="https://precious-plastic.org/products/products/sheetpress-cell/media/preview2.jpg">
            <br />
            <p style="text-align: center;">Dual or single sheetpress</p>
        </a>
    </div>
</div>
            <div prefix="" file="lydia.html" context="machine" class="fragment">
    <div class="ty-grid-list__item" style="float: left;border-color: #c5c5c5;width: 300px;display: inline-block">
        <a href="https://bazar.preciousplastic.com/index.php?dispatch=products.view&product_id=179">
            <img height="200px" src="https://precious-plastic.org/products/products/lydia/media/preview.jpg">
            <br />
            <p style="text-align: center;">Extrusion v3</p>
        </a>
    </div>
</div>
            <div prefix="" file="lydia-v4.html" context="machine" class="fragment">
    <div class="ty-grid-list__item" style="float: left;border-color: #c5c5c5;width: 300px;display: inline-block">
        <a href="https://bazar.preciousplastic.com/index.php?dispatch=products.view&product_id=159">
            <img height="200px" src="https://precious-plastic.org/products/products/lydia-v4/media/preview.jpg">
            <br />
            <p style="text-align: center;">Extrusion v4</p>
        </a>
    </div>
</div>
            <div prefix="" file="shredder_v31.html" context="machine" class="fragment">
    <div class="ty-grid-list__item" style="float: left;border-color: #c5c5c5;width: 300px;display: inline-block">
        <a href="https://bazar.preciousplastic.com/machines/shredder/shredder-kits/shredder-v3.1-and-hopper/">
            <img height="200px" src="https://precious-plastic.org/products/products/components/shredder_v31/media/overview.JPG">
            <br />
            <p style="text-align: center;">v3.1 Shredder with hopper and safety shields</p>
        </a>
    </div>
</div>
            <div prefix="" file="obelix.html" context="machine" class="fragment">
    <div class="ty-grid-list__item" style="float: left;border-color: #c5c5c5;width: 300px;display: inline-block">
        <a href="https://bazar.preciousplastic.com/machines/shredder-pro/shredder-pro-fully-built/upgraded-v4-shredder/">
            <img height="200px" src="https://precious-plastic.org/products/products/obelix/renderings/perspective.JPG">
            <br />
            <p style="text-align: center;">Upgraded v4 Shredder 'Obelix'</p>
        </a>
    </div>
</div>
            <div prefix="" file="zoe.html" context="machine" class="fragment">
    <div class="ty-grid-list__item" style="float: left;border-color: #c5c5c5;width: 300px;display: inline-block">
        <a href="https://bazar.preciousplastic.com/index.php?dispatch=products.view&product_id=152">
            <img height="200px" src="https://precious-plastic.org/products/products/zoe/media/preview.jpg">
            <br />
            <p style="text-align: center;">Shredder & Extrusion Combo 'Zoe'</p>
        </a>
    </div>
</div>
        </div>
    </div>
</div>
    <div style="clear: both;">
        <p style="text-align:center ;">
            <a href="https://gitlab.com/plastichub/products/tree/master/products">See more open sourced products</a>
        </p>
    </div>
    <hr />
    <div prefix="" file="vendor_links.html" context="machine" class="fragment">
    <p style="color:#f58d8e;clear: both;text-align: center;">
        <a href="https://www.instagram.com/plastichubcat/"><span style="color:#f58d8e;">Instagram</span></a> | <a href="https://gitlab.com/plastichub/"><span style="color:#f58d8e;">Github (open source files)</span></a> | <a href="mailto://cgoflyn@gmail.com"><span style="color:#f58d8e;">EMail</span></a> | <a href="https://www.facebook.com/plastichubcat"><span style="color:#f58d8e;">Facebook</span></a> | <a href="https://precious-plastic.org/library/machines/"><span style="color:#f58d8e;">Wiki</span></a> | <a href="https://community.preciousplastic.com/u/plastichub"><span style="color:#f58d8e;">Community map</span></a>
    </p>
    <p style="color:#f58d8e;clear: both;text-align: center;"><a href="https://discord.gg/nVaNCs3"><span style="color:#f58d8e;">Discord - Support Chat (pre-sales,
                community)</span></a> | <a href="tel://0034666894789"><span style="color:#f58d8e;">Telefon (Whatsapp,
                English, French, German, Spanish, Catalan)</span></a>
    </p>

</div>
    <hr />
    <div prefix="" file="footer.md" context="machine" class="fragment">
    <p><div prefix="" file="social.html" context="machine" class="fragment">
    <table>
        <tbody>
            <tr>
                <td>
                    <a href="https://www.instagram.com/plastichubcat">
                        <img width="30px" src="https://precious-plastic.org/products/bazar/assets/instagram-logo.png" />
                    </a>
                </td>
                <td>
                    <a href="https://www.youtube.com/channel/UCuWDxJtV2pf5BefHEy09Cew/featured?view_as=subscriber">
                        <img width="30px" src="https://precious-plastic.org/products/bazar/assets/002-youtube.png" />
                    </a>
                </td>
                <td>
                    <a alt="Open Source Projects" href="https://gitlab.com/plastichub/">
                        <img width="30px" src="https://precious-plastic.org/products/bazar/assets/github.png" />
                    </a>
                </td>

                <td>
                    <a alt="" href="tel:0034666894789">
                        <img width="30px" src="https://precious-plastic.org/products/bazar/assets/007-whatsapp.png" />
                    </a>
                </td>

                <td>
                    <a alt="" href="https://www.facebook.com/plastichubcat/">
                        <img width="30px" src="https://precious-plastic.org/products/bazar/assets/043-facebook-1.png" />
                    </a>
                </td>
                <td>
                    <a alt="" href="mailto:sales@plastic-hub.com">
                        <img width="30px" src="https://precious-plastic.org/products/bazar/assets/012-mail-2.png" />
                    </a>
                </td>
                <td>
                    <a alt="" href="https://plastic-hub.com/blog">
                        <img width="30px" src="https://precious-plastic.org/products/bazar/assets/006-wordpress.png" />
                    </a>
                </td>
                <td>
                    <a alt="" href="https://discord.gg/SN6MT5N">
                        <img width="30px" src="https://precious-plastic.org/products/bazar/assets/discord.png" />
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div></p>
</div></div>