---
layout: default
---

{% for example in site.data.examples %}
  <div class='example'>
    <h3>{{ example.name }}</h3>
    <code>
      &lt;d-topics-list discourse-url="https://forum.precious-plastic.org/" {{ example.args }}&gt;&lt;d-topics-list&gt;
    </code>
    <d-topics-list discourse-url="https://forum.precious-plastic.org/" tags="shredder"  {{ example.args }}></d-topics-list>
  </div>
{% endfor %}

