<div style="padding:16px;text-align: center;">
    <h3> See our other products </h3>
    <div class="ty-vendor-plans">
        ${elena} 
        ${sheetpress} 
        ${lydia} 
        ${lydia-v4}
    </div>
</div>