<p><p><a href="www.precious-plastic.org">Plastic Hub</a> -&gt; <a href="https://precious-plastic.org/products/products/">Machines</a> </p> -&gt; <span>Extrusion Lydia v3</span></p>
<hr/>
<p>
<p>Update PP extruder with better quality components. Perfect for small enterprise, schools and universities<br>
</p>
<hr>
<div style="clear:both">
    <div>
        <a href="https://precious-plastic.org/products/products/lydia/drawings/overview.JPG">
            <p style="text-align: center">
                <img width="100%" src="https://precious-plastic.org/products/products/lydia/drawings/overview.JPG">
            </p>
        </a>
    </div>
    <hr />
</div>
<div class="ty-vendor-plans">

    <div style="text-align: left;;margin: 20px;">
        <p>Type | Extrusion Machine
--- | ---
Version | 3.1
Weight | 50 kg
Screw size | 26 x 600 mm compression screw
Max running time | 4H/Day
Voltage | 220V
AMP | 5.8A
Input Flake Size | Medium, Small<br />
Nominal Power | 800W
Output Speed | 40-140 r/min</p>
<p><hr/>
<strong>Input & Output</strong></p>
<p><strong>Type:</strong> HDPE, LDPE, PP, PS</p>
<p><strong>Flake size:</strong> ~5mm</p>
<p><strong>Output:</strong> Depends on nozzle, ±5 kg/h</p>
    </div>

    <div style="text-align: left;;margin: 20px;">
        <p><strong>Product Resources</strong></p>
<ul>
<li><a href="https://myhub.autodesk360.com/ue2b6df80/g/shares/SH7f1edQT22b515c761e2cc46804b9803c4c">3D Preview</a></li>
<li><a href="https://gitlab.com/plastichub/products/tree/master/products/lydia/drawings">Drawings</a></li>
<li><a href="https://precious-plastic.org/products/products/lydia/cad">CAD model</a></li>
<li><a href="https://precious-plastic.org/home/library/machines/portable-extrusion/">Wiki</a></li>
<li><a href="https://gitlab.com/plastichub/products/tree/master/products/lydia">Source files</a></li>
<li><a href="https://davehakkens.nl/community/forums/topic/arbor-press-v14/">Forum</a></li>
<li><a href="https://discord.gg/SN6MT5N">Discord Chat</a></li>
<li><a href="https://precious-plastic.org/products/products/lydia/electrics/wiring.png">Electrical wiring</a></li>
</ul>
    </div>
</div>
<div class="ty-vendor-plans">
    <div style="text-align: left;margin: 20px;">
        <p><strong>Useful Links</strong></p>
<ul>
<li><a href="https://davehakkens.nl/community/forums/topic/shredder-and-extrusion-industrial-electronics-2/">Shredder & Extruder - Industrial Electronics </a></li>
<li><a href="https://davehakkens.nl/community/forums/topic/bean-extrusion-optimization/#post-131338">Extrusion Beam Tests</a></li>
<li><a href="https://davehakkens.nl/community/forums/topic/beam-production-v4/">V4 Beam Production</a></li>
<li><a href="https://davehakkens.nl/community/forums/topic/extrusion-machine-products-v4/">V4 Extrusion Products</a></li>
<li><a href="https://davehakkens.nl/community/forums/topic/v4-extrusion-tubes-and-profiles/">V4 Tubes & Profiles</a></li>
<li><a href="https://davehakkens.nl/community/forums/topic/extrusion-moulds-v4/">V4 Extrusion Moulds</a></li>
<li><a href="https://community.preciousplastic.com/how-to/make-a-mould-to-extrude-beams">How-to: Beam Mould</a></li>
<li><a href="https://community.preciousplastic.com/how-to/make-a-flat-nozzle-for-the-extrusion-machine">How-to: Flat Nozzle</a></li>
<li><a href="https://community.preciousplastic.com/how-to/extrude-different-textures">How-to: Different Textures</a></li>
<li><a href="https://community.preciousplastic.com/how-to/make-a-bench-with-beams">How-to: Bench</a></li>
<li><a href="https://community.preciousplastic.com/how-to/build-a-shelving-system">How-to: Shelf</a></li>
<li><a href="https://community.preciousplastic.com/how-to/make-glasslike-beams">How-to: Glass Beams</a></li>
</ul>
    </div>
</div>
<br/>

<hr/>
<div style="padding:16px;text-align: center;">
    <h3> Howtos </h3>
    <div class="ty-vendor-plans">
        <div class="ty-grid-list__item" style="float: left;border-color: #c5c5c5;width: 300px;display: inline-block">
    <a href="https://community.preciousplastic.com/how-to/make-extruded-plastic-bricks">
        <img height="200px"
            src="https://firebasestorage.googleapis.com/v0/b/onearmyworld.appspot.com/o/uploads%2Fv2_howtos%2FwgXKMSyFffTnY7sW8K1n%2FBrick%20Lean-howto.jpg?alt=media&amp;token=14046c6e-96b8-497f-ae44-9edc13615533">
        <br />
        <p style="text-align: center;">Make extruded plastic
            bricks</p>
    </a>
</div>
        <div class="ty-grid-list__item" style="float: left;border-color: #c5c5c5;width: 300px;display: inline-block">
    <a href="https://community.preciousplastic.com/how-to/make-a-lamp-with-beams">
        <img height="200px"
            src="https://firebasestorage.googleapis.com/v0/b/onearmyworld.appspot.com/o/uploads%2Fv2_howtos%2FqHIFJwCev1TxepK7JHns%2F_DSF9396.JPG?alt=media&token=3381bbd4-e942-4aa9-a322-e376bdd81f35">
        <br />
        <p style="text-align: center;">Make a lamp with beams</p>
    </a>
</div>
        <div class="ty-grid-list__item" style="float: left;border-color: #c5c5c5;width: 300px;display: inline-block">
    <a href="https://community.preciousplastic.com/how-to/make-a-mould-to-extrude-beams">
        <img height="200px"
            src="https://firebasestorage.googleapis.com/v0/b/onearmyworld.appspot.com/o/uploads%2Fv2_howtos%2FrodwJIeeabSsIGuI27Er%2F1%20fin.JPG?alt=media&token=91253391-e30b-4d4a-978a-4834a93f5197">
        <br />
        <p style="text-align: center;">Make a lamp with beams</p>
    </a>
</div>
    </div>
</div>
<div style="clear: both;">
    <p style="text-align:center ;">
        <a href="https://community.preciousplastic.com/how-to">See more how-tos</a>
    </p>
</div>
<hr/>
<br/>
<div class="ty-grid-list__item" style="clear:both;border-color: #c5c5c5;"">
<table>
    <tbody>
        <tr>
            <td>

<b>Payment terms</b>
<ul>
<li>70% upfront via bank transfer & invoice</li>
<li> remaining 30% have to be paid as soon the machine is ready to be shipped (you will receive a tracking ID)</li>
</ul>
</td>

<td>

<b> Warrenty & Support</b>
<ul>
<li>All parts are new and come with warrenty and have also mostly CE certification</li>

<li>After you receive the machine, we help you via Whatsapp video chat to assemble the parts, in case our Youtube instructions don't work for you</li>

</ul>
</td>

</tr>
</tbody>
<table>
</div>
<hr/>
<div style="padding:16px;text-align: center;">
    <h3> See our other products </h3>
    <div class="ty-vendor-plans">
        <div class="ty-grid-list__item" style="float: left;border-color: #c5c5c5;width: 300px;display: inline-block">
<a href="https://bazar.preciousplastic.com/index.php?dispatch=products.view&product_id=152">
    <img height="200px" src="https://precious-plastic.org/products/products/zoe/media/preview.jpg">
    <br/>
    <p style="text-align: center;">Shredder & Extrusion Combo 'Zoe'</p>
</a>
</div>
        <div class="ty-grid-list__item" style="float: left;border-color: #c5c5c5;width: 300px;display: inline-block">
<a href="https://bazar.preciousplastic.com/index.php?dispatch=products.view&product_id=152">
    <img height="200px" src="https://precious-plastic.org/products/products/zoe-x/drawings/overview.JPG">
    <br/>
    <p style="text-align: center;">Shredder & Extrusion Combo 'Zoe' v4</p>
</a>
</div>
        <div class="ty-grid-list__item" style="float: left;border-color: #c5c5c5;width: 300px;display: inline-block">
<a href="https://bazar.preciousplastic.com/index.php?dispatch=products.view&product_id=99">
    <img style="height:200px"  height="200px" src="https://precious-plastic.org/products/products/elena/media/preview.jpg">
    <br/>
    <p style="text-align: center;">Arbor Injection</p>
</a>
</div>
        <div class="ty-grid-list__item" style="float: left;border-color: #c5c5c5;width: 300px;display: inline-block">
    <a href="https://bazar.preciousplastic.com/index.php?dispatch=products.view&product_id=159">
        <img height="200px"
            src="https://precious-plastic.org/products/products/lydia-v4/media/preview.jpg">
        <br />
        <p style="text-align: center;">Extrusion v4</p>
    </a>
</div>
        <div class="ty-grid-list__item" style="float: left;border-color: #c5c5c5;width: 300px;display: inline-block;">
<a href="https://bazar.preciousplastic.com/index.php?dispatch=products.view&product_id=210">
    <img width="height" src="https://precious-plastic.org/products/products/sheetpress-cell/media/preview2.jpg">
    <br/>
    <p style="text-align: center;">Dual or single sheetpress</p>
</a>
</div>
    </div>
</div></p>
<div style="clear: both;">
    <p style="text-align:center ;">
        <a href="https://gitlab.com/plastichub/products/tree/master/products">See more open sourced products</a>
    </p>
</div>
<p><hr/>
<p style="color:#f58d8e;clear: both;text-align: center;">
    <a href="https://www.instagram.com/plastichubcat/"><span style="color:#f58d8e;">Instagram</span></a> | <a
        href="https://gitlab.com/plastichub/"><span style="color:#f58d8e;">Github (open source files)</span></a> | <a href="mailto://cgoflyn@gmail.com"><span
            style="color:#f58d8e;">EMail</span></a> | <a href="https://www.facebook.com/plastichubcat"><span
            style="color:#f58d8e;">Facebook</span></a> | <a href="https://precious-plastic.org/library/machines/"><span
            style="color:#f58d8e;">Wiki</span></a> | <a href="https://community.preciousplastic.com/u/plastichub"><span
            style="color:#f58d8e;">Community map</span></a>
</p>
<p style="color:#f58d8e;clear: both;text-align: center;"><a href="https://discord.gg/nVaNCs3"><span style="color:#f58d8e;">Discord - Support Chat (pre-sales,
            community)</span></a> | <a href="tel://0034666894789"><span style="color:#f58d8e;">Telefon (Whatsapp,
            English, French, German, Spanish, Catalan)</span></a>
</p>
<hr/>
<p><table>
    <tbody>
        <tr>
            <td>
                <a href="https://www.instagram.com/plastichubcat">
                    <img width="30px"
                        src="https://raw.githubusercontent.com/plastic-hub/products/master/bazar/assets/instagram-logo.png" />
                </a>
            </td>
            <td>
                <a href="https://www.youtube.com/channel/UCuWDxJtV2pf5BefHEy09Cew/featured?view_as=subscriber">
                    <img width="30px"
                        src="https://raw.githubusercontent.com/plastic-hub/products/master/bazar/assets/002-youtube.png" />
                </a>
            </td>
            <td>
                <a alt="Open Source Projects" href="https://gitlab.com/plastichub/">
                    <img width="30px"
                        src="https://raw.githubusercontent.com/plastic-hub/products/master/bazar/assets/github.png" />
                </a>
            </td>

            <td>
                <a alt="" href="tel:0034666894789">
                    <img width="30px"
                        src="https://raw.githubusercontent.com/plastic-hub/products/master/bazar/assets/007-whatsapp.png" />
                </a>
            </td>

            <td>
                <a alt="" href="https://www.facebook.com/plastichubcat/">
                    <img width="30px"
                        src="https://raw.githubusercontent.com/plastic-hub/products/master/bazar/assets/043-facebook-1.png" />
                </a>
            </td>
            <td>
                <a alt="" href="mailto:cgoflyn@gmail.com">
                    <img width="30px"
                        src="https://raw.githubusercontent.com/plastic-hub/products/master/bazar/assets/012-mail-2.png" />
                </a>
            </td>
            <td>
                <a alt="" href="https://precious-plastic.org/">
                    <img width="30px"
                        src="https://raw.githubusercontent.com/plastic-hub/products/master/bazar/assets/006-wordpress.png" />
                </a>
            </td>
            <td>
                <a alt="" href="https://discord.gg/SN6MT5N">
                    <img width="30px"
                        src="https://raw.githubusercontent.com/plastic-hub/products/master/bazar/assets/discord.png" />
                </a>
            </td>
        </tr>
    </tbody>
</table></p></p>