<div prefix="" file="product.html" context="machine" class="fragment"><span>Vending Shredder &apos;Asterix&apos;</span>
  <hr />
  <hr />
  Please always contact us through <a href="mailto://sales@plastic-hub.com" style="color:#4C74B9">EMail</a><br />
  <hr />
  <div prefix="" file="body.html" context="machine" class="fragment">
    <p>
      This ladies and gentlemen is the very first full automatic shredding system - in it&apos;s class and it&apos;s OpenSource!<br />
      The electronic plunger makes it extrem safe to use. It won&apos;t shredd with hopper opened. <br />
    </p>
    <p>
      The machine has been used to develop a vending shredder and is like new. We don&apos;t need it anymore since we chose another shredder design.
      The electronic plunger will be migrated to all other shredder machines as well and will be available separately.<br />
    </p>
    <hr>
    <h5> Features / Details </h5>
    <div prefix="" file="features.md" context="machine" class="fragment">
      <ul>
        <li>Auto-Reverse</li>
        <li>Auto-Plunge. Please see a test video <a href="https://www.youtube.com/watch?v=AgafKdxUxXQ&amp;ab_channel=PlasticHub" style="color:#4C74B9">here</a></li>
        <li>Safety Hopper</li>
        <li>High quality shredding unit, uses hardened blades</li>
        <li>High quality electronics</li>
        <li>CE Certified</li>
      </ul>
    </div>
    <hr>
    <div>
      <div id="specs" style="padding: 16px">
        <strong>Technical Information</strong>
        <table style="display:table;width:auto;margin-left:auto;margin-right:auto">
          <tbody>
            <tr>
              <td>Version
              </td>
              <td>1.0
              </td>
            </tr>
            <tr>
              <td> Weight
              </td>
              <td>50 kg
              </td>
            </tr>
            <tr>
              <td> Voltage
              </td>
              <td>220V
              </td>
            </tr>
            <tr>
              <td> Power
              </td>
              <td>1.5kW
              </td>
            </tr>
            <tr>
              <td> License
              </td>
              <td><a href="https://ohwr.org/cernohl" style="color:#4C74B9">CERN Open Source Hardware License</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div style="clear:both">
      <div>
        <a href="" style="color:#4C74B9">
          <p style="text-align: center">
            <img width="100%" src="">
            </img></p>
        </a>
      </div>
      <div style="padding: 16px; display: inline-block">
        <div prefix="" file="product_resources.md" context="machine" class="fragment">
          <p><strong>Product Resources</strong></p>
          <ul>
            <li><a href="https://precious-plastic.org//archives/asterix.zip" style="color:#4C74B9">Download</a></li>
          </ul>
          <p />
        </div>
      </div>
    </div>
    </hr>
    </hr>
  </div>
  <br />
  <hr />
  <div prefix="" file="others.html" context="machine" class="fragment">
    <div style="padding:16px;text-align: center;">
      <h3> See our other products </h3>
      <div class="ty-vendor-plans">
        <div prefix="" file="zoe.html" context="machine" class="fragment">
          <div class="ty-grid-list__item" style="float: left;border-color: #c5c5c5;width: 300px;display: inline-block">
            <a href="https://bazar.preciousplastic.com/index.php?dispatch=products.view&amp;product_id=152" style="color:#4C74B9">
              <img height="200px" src="https://plastic-hub.com/products/zoe/media/preview.jpg">
              <br />
              <p style="text-align: center;">Shredder &amp; Extrusion Combo &apos;Zoe&apos;</p>
              </img>
            </a>
          </div>
        </div>
        <div prefix="" file="elena.html" context="machine" class="fragment">
          <div class="ty-grid-list__item" style="float: left;border-color: #c5c5c5;width: 300px;display: inline-block">
            <a href="https://bazar.preciousplastic.com/index.php?dispatch=products.view&amp;product_id=99" style="color:#4C74B9">
              <img style="height:200px" height="200px" src="https://plastic-hub.com/products/elena/media/preview.jpg">
              <br />
              <p style="text-align: center;">Arbor Injection</p>
              </img>
            </a>
          </div>
        </div>
        <div prefix="" file="lydia-v4.html" context="machine" class="fragment">
          <div class="ty-grid-list__item" style="float: left;border-color: #c5c5c5;width: 300px;display: inline-block">
            <a href="https://bazar.preciousplastic.com/index.php?dispatch=products.view&amp;product_id=159" style="color:#4C74B9">
              <img height="200px" src="https://plastic-hub.com/products/lydia-v4/media/preview.jpg">
              <br />
              <p style="text-align: center;">Extrusion v4</p>
              </img>
            </a>
          </div>
        </div>
        <div prefix="" file="sheetpress.html" context="machine" class="fragment">
          <div class="ty-grid-list__item" style="float: left;border-color: #c5c5c5;width: 300px;display: inline-block;">
            <a href="https://bazar.preciousplastic.com/index.php?dispatch=products.view&amp;product_id=210" style="color:#4C74B9">
              <img width="height" src="https://plastic-hub.com/products/sheetpress-cell/media/latest2.jpg">
              <br />
              <p style="text-align: center;">Sheetpress Cell</p>
              </img>
            </a>
          </div>
        </div>
        <div prefix="" file="obelix.html" context="machine" class="fragment">
          <div class="ty-grid-list__item" style="float: left;border-color: #c5c5c5;width: 300px;display: inline-block">
            <a href="https://bazar.preciousplastic.com/machines/shredder-pro/shredder-pro-fully-built/upgraded-v4-shredder/" style="color:#4C74B9">
              <img height="200px" src="https://plastic-hub.com/products/obelix/media/gallery/latest.jpg">
              <br />
              <p style="text-align: center;">Upgraded v4 Shredder &apos;Obelix&apos;</p>
              </img>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div style="clear: both;">
    <p style="text-align:center ;">
      <a href="https://plastic-hub.com/products/" style="color:#4C74B9">See more products on our website</a>
    </p>
  </div>
  <hr />
  <div prefix="" file="vendor_links.html" context="machine" class="fragment">
    <p style="color:#f58d8e;clear: both;text-align: center;">
      <a href="https://www.instagram.com/plastichubcat/" style="color:#4C74B9"><span style="color:#f58d8e;">Instagram</span></a> |
      <a href="https://gitlab.com/plastichub/" style="color:#4C74B9"><span style="color:#f58d8e;">Github (OpenSourceFiles)</span></a> |
      <a href="mailto://sales@plastic-hub.com" style="color:#4C74B9"><span style="color:#f58d8e;">EMail</span></a> |
      <a href="https://www.facebook.com/plastichubcat" style="color:#4C74B9"><span style="color:#f58d8e;">Facebook</span></a> |
      <a href="https://library.plastic-hub.org/machines/" style="color:#4C74B9"><span style="color:#f58d8e;">Wiki</span></a> |
      <a href="https://community.preciousplastic.com/u/plastichub" style="color:#4C74B9"><span style="color:#f58d8e;">Community map</span></a> |
      <a href="https://forum.plastic-hub.org/machines/" style="color:#4C74B9"><span style="color:#f58d8e;">Forum</span></a>
    </p>
    <p style="color:#f58d8e;clear: both;text-align: center;">
      <a href="https://join.slack.com/t/pporgworkspace/shared_invite/zt-ki41lt0y-us2lp_bRsgh_uQHESXofLg" style="color:#4C74B9"><span style="color:#f58d8e;">Slack - Support &amp; Development Chat </span></a> |
      <a href="tel://0034666894789" style="color:#4C74B9"><span style="color:#f58d8e;">Telefon - Whatsapp (English, French, German, Spanish,
                Catalan)</span></a>
    </p>
  </div>
  <hr />
  <div prefix="" file="instagram.html" context="machine" class="fragment">
    <div>
      <h4 style="text-align: center;">Checkout our Instagram</h4>
      <div class="ty-vendor-plans">
        <p class="ty-grid-list__item" style="float:left;border-color:#c5c5c5;width: 300px;display: inline-block">
          <a href="https://www.instagram.com/p/CGFEVPMHyNB/" style="color:#4C74B9">
            <img width="300" src="https://plastic-hub.com/products/resources/assets/instagram1.jpg" />
          </a>
        </p>
        <p class="ty-grid-list__item" style="float:left;border-color:#c5c5c5;width: 300px;display: inline-block">
          <a href="https://www.instagram.com/p/B1T3D3bHoke/" style="color:#4C74B9">
            <img width="300" src="https://plastic-hub.com/products/resources/assets/instagram2.jpg" />
          </a>
        </p>
        <p class="ty-grid-list__item" style="float:left;border-color:#c5c5c5;width: 300px;display: inline-block">
          <a href="https://www.instagram.com/p/CC8-hODqai0/" style="color:#4C74B9">
            <img width="300" src="https://plastic-hub.com/products/resources/assets/instagram3.jpg" />
          </a>
        </p>
      </div>
    </div>
  </div>
  <hr />
  <div prefix="" file="projects.html" context="machine" class="fragment">
    <div>
      <h4 style="text-align: center;">Our latest Open Source projects</h4>
      <div class="ty-vendor-plans">
        <p class="ty-grid-list__item" style="float:left;border-color:#c5c5c5;width: 300px;display: inline-block">
          <a href="https://plastic-hub.com/products/cassandra.html" style="color:#4C74B9">
            <img width="300" src="https://plastic-hub.com/products/cassandra/renderings/perspective.JPG" />
          </a>
          <span style="text-align: center; font-weight: bold;font-size: larger;">Mini Sheetpress</span>
        </p>
        <p class="ty-grid-list__item" style="float:left;border-color:#c5c5c5;width: 300px;display: inline-block">
          <a href="https://plastic-hub.com/products/asterix.html" style="color:#4C74B9">
            <img width="300" src="https://plastic-hub.com/products/asterix/renderings/perspective.png" />
          </a>
          <span style="text-align: center; font-weight: bold;font-size: larger;">Vending Shredder</span>
        </p>
        <p class="ty-grid-list__item" style="float:left;border-color:#c5c5c5;width: 300px;display: inline-block">
          <a href="https://plastic-hub.com/products/PrintHead/media/preview.jpg.jpg" style="color:#4C74B9">
            <img width="300" src="https://plastic-hub.com/products/PrintHead/media/preview.jpg.jpg" />
          </a>
          <span style="text-align: center;font-weight: bold;font-size: larger;">3D Printhead for industrial robots</span>
        </p>
      </div>
    </div>
  </div>
  <hr />
</div>