<div class="ty-grid-list__item" style="float: left;border-color: #c5c5c5;width: 300px;display: inline-block">
<a href="https://bazar.preciousplastic.com/index.php?dispatch=products.view&product_id=99">
    <img style="height:200px"  height="200px" src="https://precious-plastic.org/products/products/elena/media/preview.jpg">
    <br/>
    <p style="text-align: center;">Arbor Injection</p>
</a>
</div>