${breadcrumb} -> <span>${product_name}</span>

<hr/>

<a ref="${product_overview}">
    <img style="width:100%;" src="${product_overview}"/>
</a>
${header}
${body}
<br/>
${academy}
${howtos}
<hr/>
${others}
<div style="clear: both;">
    <p style="text-align:center ;">
        <a href="https://gitlab.com/plastichub/products/tree/master/products">See more open source machines</a>
    </p>
</div>
<hr/>
