${breadcrumb} -> <span>${product_name}</span>

<hr/>

${header}
${body}
<br/>
${academy}
${howtos}
<hr/>
${others}
<div style="clear: both;">
    <p style="text-align:center ;">
        <a href="https://gitlab.com/plastichub/products/tree/master/products">See more open sourced products</a>
    </p>
</div>
<hr/>
${vendor_links}
<hr/>
${footer}