<div class="ty-grid-list__item" style="float: left;border-color: #c5c5c5;width: 300px;display: inline-block;">
<a href="https://bazar.preciousplastic.com/index.php?dispatch=products.view&product_id=210">
    <img width="height" src="https://precious-plastic.org/products/products/sheetpress-cell/media/preview2.jpg">
    <br/>
    <p style="text-align: center;">Dual or single sheetpress</p>
</a>
</div>