<table>
    <tbody>
        <tr>
            <td>
                <a href="${vendor_instagram}">
                    <img width="30px"
                        src="https://precious-plastic.org/products/bazar/assets/instagram-logo.png" />
                </a>
            </td>
            <td>
                <a href="${vendor_youtube}">
                    <img width="30px"
                        src="https://precious-plastic.org/products/bazar/assets/002-youtube.png" />
                </a>
            </td>
            <td>
                <a alt="Open Source Projects" href="${vendor_github}">
                    <img width="30px"
                        src="https://precious-plastic.org/products/bazar/assets/github.png" />
                </a>
            </td>

            <td>
                <a alt="" href="${vendor_whatsapp}">
                    <img width="30px"
                        src="https://precious-plastic.org/products/bazar/assets/007-whatsapp.png" />
                </a>
            </td>

            <td>
                <a alt="" href="${vendor_facebook}">
                    <img width="30px"
                        src="https://precious-plastic.org/products/bazar/assets/043-facebook-1.png" />
                </a>
            </td>
            <td>
                <a alt="" href="${vendor_contact_email}">
                    <img width="30px"
                        src="https://precious-plastic.org/products/bazar/assets/012-mail-2.png" />
                </a>
            </td>
            <td>
                <a alt="" href="${vendor_blog}">
                    <img width="30px"
                        src="https://precious-plastic.org/products/bazar/assets/006-wordpress.png" />
                </a>
            </td>
            <td>
                <a alt="" href="${vendor_discord}">
                    <img width="30px"
                        src="https://precious-plastic.org/products/bazar/assets/discord.png" />
                </a>
            </td>
        </tr>
    </tbody>
</table>