<p style="color:#f58d8e;clear: both;text-align: center;">
    <a href="https://www.instagram.com/plastichubcat/"><span style="color:#f58d8e;">Instagram</span></a> | <a
        href="https://gitlab.com/plastichub/"><span style="color:#f58d8e;">Github (open source files)</span></a> | <a href="mailto://cgoflyn@gmail.com"><span
            style="color:#f58d8e;">EMail</span></a> | <a href="https://www.facebook.com/plastichubcat"><span
            style="color:#f58d8e;">Facebook</span></a> | <a href="https://precious-plastic.org/library/machines/"><span
            style="color:#f58d8e;">Wiki</span></a> | <a href="https://community.preciousplastic.com/u/plastichub"><span
            style="color:#f58d8e;">Community map</span></a>
</p>
<p style="color:#f58d8e;clear: both;text-align: center;"><a href="https://discord.gg/nVaNCs3"><span style="color:#f58d8e;">Discord - Support Chat (pre-sales,
            community)</span></a> | <a href="tel://0034666894789"><span style="color:#f58d8e;">Telefon (Whatsapp,
            English, French, German, Spanish, Catalan)</span></a>
</p>

