<p><span></span>We're2 into plastic open source recycling machinery, aiming at high quality & safety. We develop software
    tools and machines to enrich the Precious Plastic eco system.
</p>


<p style="color:#f58d8e;">
    <a href="https://www.instagram.com/plastichubcat/"><span style="color:#f58d8e;">Instagram</span></a> | <a
        href="https://gitlab.com/plastichub/"><span style="color:#f58d8e;">Github (open source
            files, machines)</span></a> | <a href="mailto:mailto://cgoflyn@gmail.com"><span
            style="color:#f58d8e;">EMail</span></a> | <a href="https://www.facebook.com/plastichubcat"><span
            style="color:#f58d8e;">Facebook</span></a> | <a href="https://precious-plastic.org/library/machines/"><span
            style="color:#f58d8e;">Wiki</span></a> | <a href="https://community.preciousplastic.com/u/plastichub"><span
            style="color:#f58d8e;">Community map</span></a>
</p>
<p><a href="https://discord.gg/nVaNCs3"><span style="color:#f58d8e;">Discord - Support Chat (pre-sales,
            community)</span></a> | <a href="tel://0034666894789"><span style="color:#f58d8e;">Telefon (Whatsapp,
            English, French, German, Spanish, Catalan)</span></a>
</p>
<p>We serve communities, schools, universities, small enterprises and startups; made with love ! We also provide after
    sale support and take issues serious. We do various open-source activities for machines and software, powering the
    PP community since 2 years.
</p>
<p><br>
</p>
<p><strong>11 received reviews (100% positive, 11/11) </strong>
</p>
<p><strong> <br></strong>
</p>

<div style="border: 1px solid gray; padding:8px" class="listing-main">
    <div class="row">
        <div>
            <div class="profile-testimonials-list">
                <div class="light_green testimonial">
                    <div class="testimonial-avatar">
                        <a href="/en/jackhosi"><img
                                src="https://user-assets.sharetribe.com/images/people/images/HiOgZjQ6zl_Ss3Eev8I_Mw/thumb/rxdb3F.jpeg?1557858413"
                                alt="rxdb3F.jpeg?1557858413"></a>
                    </div>
                    <div class="testimonial-details">
                        <div class="testimonial-message">
                            <p>thanks a tot
                            </p>
                        </div>
                        <div class="testimonial-author">
                            <a href="/en/jackhosi">Jakub B</a>
                            about listing
                            <a href="/en/listings/802363-all-parts-for-shredder">All parts for shredder</a>
                            10 days ago.
                        </div>
                    </div>
                    <div class="positive testimonial-icon">
                        <i class="ss-like positive"></i>
                    </div>
                </div>
                <div class="light_green testimonial">
                    <div class="testimonial-avatar">
                        <a href="/en/jackhosi"><img
                                src="https://user-assets.sharetribe.com/images/people/images/HiOgZjQ6zl_Ss3Eev8I_Mw/thumb/rxdb3F.jpeg?1557858413"
                                alt="rxdb3F.jpeg?1557858413"></a>
                    </div>
                    <div class="testimonial-details">
                        <div class="testimonial-message">
                            <p>thanks a lot
                            </p>
                        </div>
                        <div class="testimonial-author">
                            <a href="/en/jackhosi">Jakub B</a>
                            about listing
                            <a href="/en/listings/802363-all-parts-for-shredder">All parts for shredder</a>
                            3 months ago.
                        </div>
                    </div>
                    <div class="positive testimonial-icon">
                        <i class="ss-like positive"></i>
                    </div>
                </div>
                <div class="light_green testimonial">
                    <div class="testimonial-avatar">
                        <a href="/en/vonplast"><img
                                src="https://user-assets.sharetribe.com/images/people/images/CW-d20J0Xw5WlLZsQBHLcA/thumb/32805063_1860606804236371_7944287710468898816_o.jpg?1546115497"
                                alt="32805063_1860606804236371_79442877104688"></a>
                    </div>
                    <div class="testimonial-details">
                        <div class="testimonial-message">
                            <p>Fast execution of the order. All is going well so far.
                            </p>
                        </div>
                        <div class="testimonial-author">
                            <a href="/en/vonplast">Von Plast</a>
                            about listing
                            <a href="/en/listings/803800-arbor-injection-press-elena-deluxe-catalonia">Arbor - Injection
                                press - "Elena" - Deluxe - Catalonia</a>
                            3 months ago.
                        </div>
                    </div>
                    <div class="positive testimonial-icon">
                        <i class="ss-like positive"></i>
                    </div>
                </div>
                <div class="light_green testimonial">
                    <div class="testimonial-avatar">
                        <a href="/en/roml"><img
                                src="https://assets1.sharetribe.com/assets/profile_image/thumb/missing-2103b8402da301387627aaea4ce27451dedbd0f6aa0cf7850759a0a8b368375e.png"
                                alt="missing-2103b8402da301387627aaea4ce27451"></a>
                    </div>
                    <div class="testimonial-details">
                        <div class="testimonial-message">
                            <p>Machines were as described, communication was excellent and additional support was given.
                            </p>
                        </div>
                        <div class="testimonial-author">
                            <a href="/en/roml">ROML</a>
                            about listing
                            <a href="/en/listings/770058-arbor-injection-press-elena-catalonia">Arbor - Injection press
                                - "Elena" - Catalonia</a>
                            4 months ago.
                        </div>
                    </div>
                    <div class="positive testimonial-icon">
                        <i class="ss-like positive"></i>
                    </div>
                </div>
                <div class="light_green testimonial">
                    <div class="testimonial-avatar">
                        <a href="/en/jackhosi"><img
                                src="https://user-assets.sharetribe.com/images/people/images/HiOgZjQ6zl_Ss3Eev8I_Mw/thumb/rxdb3F.jpeg?1557858413"
                                alt="rxdb3F.jpeg?1557858413"></a>
                    </div>
                    <div class="testimonial-details">
                        <div class="testimonial-message">
                            <p>It Is very good customer. Thank you
                            </p>
                        </div>
                        <div class="testimonial-author">
                            <a href="/en/jackhosi">Jakub B</a>
                            about listing
                            <a href="/en/listings/802363-all-parts-for-shredder">All parts for shredder</a>
                            5 months ago.
                        </div>
                    </div>
                    <div class="positive testimonial-icon">
                        <i class="ss-like positive"></i>
                    </div>
                </div>
                <div class="light_green testimonial">
                    <div class="testimonial-avatar">
                        <a href="/en/sjolove"><img
                                src="https://user-assets.sharetribe.com/images/people/images/aAlhbrD4vaEUUXhCmB9Paw/thumb/SJ%C3%98L%C3%98VE_LOGO.jpg?1548409297"
                                alt="SJ%C3%98L%C3%98VE_LOGO.jpg?1548409297"></a>
                    </div>
                    <div class="testimonial-details">
                        <div class="testimonial-message">
                            <p>Things went good, despite unforseen shipping issues on the postal service’s part. We had
                                a running dialogue throhought the proccess - look forward to assemble the machine and
                                try it out!
                            </p>
                        </div>
                        <div class="testimonial-author">
                            <a href="/en/sjolove">Sjøløve Plastfangst</a>
                            about listing
                            <a href="/en/listings/703705-arbor-injection-press">Arbor - Injection press</a>
                            8 months ago.
                        </div>
                    </div>
                    <div class="positive testimonial-icon">
                        <i class="ss-like positive"></i>
                    </div>
                </div>
                <div class="light_green testimonial">
                    <div class="testimonial-avatar">
                        <a href="/en/hugonator"><img
                                src="https://user-assets.sharetribe.com/images/people/images/aQvAuwYZyO4gt5B4Ngd4KA/thumb/73416008_470808463532762_3946286462042898432_n.jpg?1571838192"
                                alt="73416008_470808463532762_394628646204289"></a>
                    </div>
                    <div class="testimonial-details">
                        <div class="testimonial-message">
                            <p>Communication was perfect, profesional, and also Machine arrived in perfect conditions.
                            </p>
                            <p>Thank you.
                            </p>
                            <p>Martin
                            </p>
                        </div>
                        <div class="testimonial-author">
                            <a href="/en/hugonator">Precious Plastic Slovakia</a>
                            about listing
                            <a href="/en/listings/727598-arbor-injection-press-elena-catalonia">Arbor - Injection press
                                - "Elena" - Catalonia</a>
                            9 months ago.
                        </div>
                    </div>
                    <div class="positive testimonial-icon">
                        <i class="ss-like positive"></i>
                    </div>
                </div>
                <div class="light_green testimonial">
                    <div class="testimonial-avatar">
                        <a href="/en/pure_oceans_michael"><img
                                src="https://user-assets.sharetribe.com/images/people/images/hrFrOljUpYnFc0jLMExdog/thumb/3_White_logo_on_color1_512.jpg?1542378706"
                                alt="3_White_logo_on_color1_512.jpg?154237870"></a>
                    </div>
                    <div class="testimonial-details">
                        <div class="testimonial-message">
                            <p>Superior injector, waaaays better and more powerful than regular PP-injector.
                            </p>
                            <p>Shipping went well, easy assembly and super support from Guenter who built the injector.
                                Would recommend to anyone injecting plastic
                            </p>
                        </div>
                        <div class="testimonial-author">
                            <a href="/en/pure_oceans_michael">Pure Oceans</a>
                            about listing
                            <a href="/en/listings/727598-arbor-injection-press-elena-catalonia">Arbor - Injection press
                                - "Elena" - Catalonia</a>
                            9 months ago.
                        </div>
                    </div>
                    <div class="positive testimonial-icon">
                        <i class="ss-like positive"></i>
                    </div>
                </div>
                <div class="light_green testimonial">
                    <div class="testimonial-avatar">
                        <a href="/en/plustic"><img
                                src="https://assets1.sharetribe.com/assets/profile_image/thumb/missing-2103b8402da301387627aaea4ce27451dedbd0f6aa0cf7850759a0a8b368375e.png"
                                alt="missing-2103b8402da301387627aaea4ce27451"></a>
                    </div>
                    <div class="testimonial-details">
                        <div class="testimonial-message">
                            <p>Gunter was very welcoming and helped me through it. I havent tested the machine at home
                                yet and I will keep in touch with him as I do it.
                            </p>
                            <p>So far I am very happy with the service.
                            </p>
                        </div>
                        <div class="testimonial-author">
                            <a href="/en/plustic">Gianpaolo P</a>
                            about listing
                            <a href="/en/listings/703705-arbor-injection-press">Arbor - Injection press</a>
                            10 months ago.
                        </div>
                    </div>
                    <div class="positive testimonial-icon">
                        <i class="ss-like positive"></i>
                    </div>
                </div>
                <div class="light_green testimonial">
                    <div class="testimonial-avatar">
                        <a href="/en/tom222"><img
                                src="https://assets1.sharetribe.com/assets/profile_image/thumb/missing-2103b8402da301387627aaea4ce27451dedbd0f6aa0cf7850759a0a8b368375e.png"
                                alt="missing-2103b8402da301387627aaea4ce27451"></a>
                    </div>
                    <div class="testimonial-details">
                        <div class="testimonial-message">
                            <p>Really nice helpful guys, I have not been home yet so i cannot comment on the injector
                            </p>
                        </div>
                        <div class="testimonial-author">
                            <a href="/en/tom222">Tom K</a>
                            about listing
                            <a href="/en/listings/703705-arbor-injection-press">Arbor - Injection press</a>
                            10 months ago.
                        </div>
                    </div>
                    <div class="positive testimonial-icon">
                        <i class="ss-like positive"></i>
                    </div>
                </div>
                <div class="light_green testimonial">
                    <div class="testimonial-avatar">
                        <a href="/en/decedric89"><img
                                src="https://assets1.sharetribe.com/assets/profile_image/thumb/missing-2103b8402da301387627aaea4ce27451dedbd0f6aa0cf7850759a0a8b368375e.png"
                                alt="missing-2103b8402da301387627aaea4ce27451"></a>
                    </div>
                    <div class="testimonial-details">
                        <div class="testimonial-message">
                            <p>Super Maschine und ein sehr netter Kontakt. Schnell geliefert und in guter Qualität.
                            </p>
                        </div>
                        <p>
                            <a href="/en/decedric89">Farinon C</a>
                            about listing
                            <a href="/en/listings/703705-arbor-injection-press">Arbor - Injection press</a>
                            12 months ago.<img
                                src="https://newbazar.preciousplastic.com/images/companies/24/elena/plastichubcat_79442296_840190679767625_8936603630020096588_n.jpg?1580038708042"
                                alt="plastichubcat_79442296_840190679767625_8">
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>