<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="overview-tab" data-toggle="tab" href="#overview" role="tab" aria-controls="overview"
      aria-selected="true">Overview</a>
  </li>
  {% if page.tabs.build %}
  <li class="nav-item">
    <a class="nav-link" id="build-tab" data-toggle="tab" href="#build" role="tab" aria-controls="build"
      aria-selected="false">Build</a>
  </li>
  {% endif %}
  <li class="nav-item">
    <a class="nav-link" id="resources-tab" data-toggle="tab" href="#resources" role="tab" aria-controls="resources"
      aria-selected="false">Resources</a>
  </li>
  
  {% if page.tabs.howtos %}
  <li class="nav-item">
    <a class="nav-link" id="howtos-tab" data-toggle="tab" href="#howtos" role="tab" aria-controls="howtos"
      aria-selected="false">Howtos</a>
  </li>
  {% endif %}

  <li class="nav-item">
    <a class="nav-link" id="media-tab" data-toggle="tab" href="#media" role="tab" aria-controls="media"
      aria-selected="false">Media</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" id="media-tab" data-toggle="tab" href="#discussion" role="tab" aria-controls="media"
      aria-selected="false">Discussion</a>
  </li>

  {% if page.wiring %}
    <li class="nav-item">
      <a class="nav-link" id="wiring-tab" data-toggle="tab" href="#wiring" role="tab" aria-controls="wiring"
        aria-selected="false">Electronics</a>
    </li>

  {% endif %}


</ul>

<div class="tab-content">

  <div class="tab-pane active" id="overview" role="tabpanel" aria-labelledby="overview-tab">
    ${overview}
  </div>
  {% if page.tabs.build %}
  <div class="tab-pane" id="build" role="tabpanel" aria-labelledby="build-tab">    
    ${build_issues}
    ${build}
    {% if page.gallery_drawings %}
      <h4>Drawings</h4>
      {% include gallery_drawings caption="" %}
    {% endif %}
  </div>
  {% endif %}

  <div class="tab-pane" id="resources" role="tabpanel" aria-labelledby="resources-tab">
    <span style="font-size:smaller">
      ${product_resources}
      ${resources}
      <h4>Changelog</h4>      
        ${changelog}
    </span>
  </div>
  
  {% if page.tabs.howtos %}
    <div class="tab-pane" id="howtos" role="tabpanel" aria-labelledby="howtos-tab">
      ${howtos}
      <h4>Build Howtos</h4>
      ${howto_used_in_machine}
    </div>
  {% endif %}
  
  <div class="tab-pane" id="media" role="tabpanel" aria-labelledby="media-tab">
    ${media}
    {% if page.gallery %}
      {% include gallery caption="" %}
    {% endif %}

    {% if page.gallery_social %}
      <h4>Media on the network</h4>
      {% include gallery_social caption="" %}
    {% endif %}

  </div>

  <div class="tab-pane" id="discussion" role="tabpanel" aria-labelledby="discussion-tab">
    <div id='discourse-comments' style="min-height: 600px;"></div>
    <script type="text/javascript">
      DiscourseEmbed = {
        discourseUrl: 'https://forum.precious-plastic.org/',
        discourseEmbedUrl: '{{site.url}}{{page.url}}.html'
      };

      (function () {
        var d = document.createElement('script'); d.type = 'text/javascript'; d.async = true;
        d.src = DiscourseEmbed.discourseUrl + 'javascripts/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(d);
      })();
    </script>
  </div>

  {% if page.wiring %}
  <div class="tab-pane" id="wiring" role="tabpanel" aria-labelledby="wiring-tab">
    ${wiring}
  </div>
  {% endif %}

</div>

${alternative_projects}