<div class="row vertical-2em">
    <div class="col">
        <h5 class="feature-text">
            Auto-Reverse
        </h5>
    <span class="feature-text">The machine will detect jamming and reverses automatically. </span>
    </div>

    <div class="col">
        <h5 class="feature-text">
           Status Lights
        </h5>
        <span class="feature-text">Visual feedback.</span>
    </div>

    <div class="col">
        <h5 class="feature-text">
           Status Lights
        </h5>
        <span class="feature-text">Visual feedback.</span>
    </div>

    <div class="col">
        <h5 class="feature-text">
           Status Lights
        </h5>
        <span class="feature-text">Visual feedback.</span>
    </div>

</div>

<div class="row vertical-2em">
    <div class="col">
        <h5 class="feature-text">
            Auto-Reverse
        </h5>
    <span class="feature-text">The machine will detect jamming and reverses automatically. </span>
    </div>

    <div class="col">
        <h5 class="feature-text">
           Status Lights
        </h5>
        <span class="feature-text">Visual feedback.</span>
    </div>

    <div class="col">
        <h5 class="feature-text">
           Status Lights
        </h5>
        <span class="feature-text">Visual feedback.</span>
    </div>

    <div class="col">
        <h5 class="feature-text">
           Status Lights
        </h5>
        <span class="feature-text">Visual feedback.</span>
    </div>

</div>