<div>
    <span style="font-size: smaller; margin-top: 16px;">
        Perfect for more complicated molds and better production rates as well good quality with high precision. Easy
        to transport and ideal for a educational context and small enterprises.
    </span>
</div>
