/* ==========================================================================
   TABLES
   ========================================================================== */

table {
  display: block;
  margin-bottom: 1em;
  width: 100%;
  font-family: $global-font-family;
  font-size: $type-size-6;
  border-collapse: separate;
  border-spacing: 0;
  overflow-x: auto;

  & + table {
    margin-top: 1em;
  }
}

table tr:last-child td:first-child {
  // border-bottom-left-radius: 10px;
}

table tr:last-child td:last-child {
  // border-bottom-right-radius: 10px;
}

table tr:first-child td:first-child {
  border-top-left-radius: 10px;
}
table tr:first-child td:first-child {
  border-top-right-radius: 10px;
}

table > tr {
  border-left: 2px solid mix(#000, $border-color, 25%);
}

thead {
  background-color: $border-color;
  border-bottom: 2px solid mix(#000, $border-color, 25%);
}

th {
  padding: 0.5em;
  font-weight: bold;
  text-align: left;
}

td {
  padding: 0.5em;
  border-bottom: 1px solid mix(#000, $border-color, 25%);
}

table.center {
  margin-left: auto;
  margin-right: auto;
}

tr,
td,
th {
  vertical-align: middle;
}
