<div>
    <span style="font-size: smaller; margin-top: 16px;">
        Autonoumous Bottle Vending Shredder. This machine is designed for public spaces such as schools, bars, restaurants. It comes with a small foot print and runs very quite.
        All the user has to do is to drop a bottle and that's it! The machine has lots of sensors and feedback as a touch screen to show it's own metrics but also the overall performance of the network (other units).
    </span>
</div>
