<div>

    <a href="${product_perspective}">
        <img src="${product_perspective}" style="margin:8px; float: left;max-width:50%;max-height: 400px;" />
    </a>

    <span style="font-size: smaller; margin-top: 16px;">
        Perfect for more complicated molds and better production rates as well good quality with high precision. Easy
        to transport and ideal for a educational context and small enterprises.
    </span>

    <div style="display: table-cell;">
        ${mini_specs}

        <a href="">
            <span style="margin: 8px;" class="fa fa-download" />
        </a>
        <a href="">
            <span style="margin: 8px;" class="fa fa-play" />
        </a>
        <a href="">
            <span style="margin: 8px;" class="fa fa-question" />
        </a>

    </div>

</div>

<div style="margin: 8px;clear:both">
    
</div>

<hr />

${products}