<div style="padding:16px;text-align: center;font-size: smaller;">
    <h3>Products</h3>
    <div class="ty-vendor-plans">

        <div class="ty-grid-list__item" style="float:left;border-color: #c5c5c5;width: 200px;display: inline-block">
            <a href="https://bazar.preciousplastic.com/moulds/injection-moulds/piranha-clamp/">
                <img height="200px" src="/_machines/assets/clamp.jpeg">
                <br />
                <p style="text-align: center;">Piranha Clamp</p>
            </a>
        </div>
        <div class="ty-grid-list__item" style="float:left;border-color: #c5c5c5;width: 200px;display: inline-block">
            <a href="https://bazar.preciousplastic.com/moulds/injection-moulds/water-cup-mould/">
                <img height="200px" src="/_machines/assets/watercup.jpeg">
                <br />
                <p style="text-align: center;">Water Cup</p>
            </a>
        </div>
        <div class="ty-grid-list__item" style="float:left;border-color: #c5c5c5;width: 200px;display: inline-block">
            <a href="https://bazar.preciousplastic.com/moulds/injection-moulds/hair-comb/">
                <img height="200px" src="/_machines/assets/comb.jpeg">
                <br />
                <p style="text-align: center;">Hair Comb</p>
            </a>
        </div>
    </div>
</div>