<div prefix="" file="product.html" context="machine" class="fragment"><span>Sheetpress &apos;Cassandra&apos;</span>
  <hr />
  <hr />
  Please always contact us through EMAIL : <b>sales@plastic-hub.com</b><br />
  <hr />
  <div prefix="" file="body.md" context="machine" class="fragment">
    <p>Advanced sheetpress, ideal for workshops, fablabs and small enterprise</p>
    <p>The press mechanism is electronical (stepper motor with toggle clamp)</p>
    <h3 id="specifications">Specifications</h3>
    <p>
    <div prefix="" file="mini_specs.md" context="machine" class="fragment">
      <p><span id="specs" style="padding: 16px">
            <table class="center specs" style="display:table;width:auto;margin-left:auto;margin-right:auto">
                <tbody>
                    <tr>
                        <td>Type
                        </td>
                        <td>Sheetpress
                        </td>
                    </tr>
                    <tr>
                        <td>Version
                        </td>
                        <td>0.1
                        </td>
                    </tr>
                    <tr>
                        <td>Weight
                        </td>
                        <td>80 - 120 Kg
                        </td>
                    </tr>
                    <tr>
                        <td> Voltage
                        </td>
                        <td>380V
                        </td>
                    </tr>
                    <tr>
                        <td> Status
                        </td>
                        <td>Development
                        </td>
                    </tr>
                    <tr>
                        <td> Sheet Size
                        </td>
                        <td>60 x 60 cm
                        </td>
                    </tr>
                    <tr>
                        <td> Plate Size
                        </td>
                        <td>70 x 70 cm
                        </td>
                    </tr>
                    <tr>
                        <td> Pressure
                        </td>
                        <td> 2-5 tons, depending on the sheet thickness
                        </td>
                    </tr>
                    <tr>
                        <td> Input Flake Size
                        </td>
                        <td>Medium, Small
                        </td>
                    </tr>
                    <tr>
                        <td> Gearbox ratio
                        </td>
                        <td> 1:15
                        </td>
                    </tr>
                    <tr>
                        <td>Heaters
                        </td>
                        <td> 300 Watt x 32 (10kW)
                        </td>
                    </tr>
                </tbody>
            </table>
        </span></p>
    </div>
    </p>
    <h3 id="options">Options</h3>
    <ul>
      <li>Precision Temperature controllers (+/- 1 DegC tolerance)</li>
      <li>Loader table</li>
      <li>Touchscreen for storing different temperature profiles</li>
    </ul>
    <div style="clear:both">
      <div prefix="" file="product_overview_drawings.html" context="machine" class="fragment">
        <div>
          <h4 style="text-align: center;">Dimensions</h4>
          <a href="https://plastic-hub.com/products//cassandra//drawings/dimensions.JPG" style="color:#4C74B9">
            <p style="text-align: center">
              <img style="max-height:500px" src="https://plastic-hub.com/products//cassandra//drawings/dimensions.JPG">
              </img></p>
          </a>
          <hr />
          <h4 style="text-align: center;">Parts</h4>
          <a href="https://plastic-hub.com/products//cassandra//drawings/parts.JPG" style="color:#4C74B9">
            <p style="text-align: center">
              <img style="max-height:500px" src="https://plastic-hub.com/products//cassandra//drawings/parts.JPG">
              </img></p>
          </a>
          <p style="text-align: center">
          <table style="display:table;width:auto;margin-left:auto;margin-right:auto">
            <thead>
              <tr>
                <th>Part Nr.</th>
                <th>Description</th>
                <th>Configuration</th>
                <th />
              </tr>
            </thead>
            <tbody>
              <tr>
                <td />
                <td />
                <td />
                <td />
              </tr>
              <tr>
                <td>1</td>
                <td>Fume Exhaust Pipe</td>
                <td>Optional</td>
                <td />
              </tr>
              <tr>
                <td>2</td>
                <td>Fume Hood</td>
                <td>Integrated fan</td>
                <td />
              </tr>
              <tr>
                <td>3</td>
                <td>Doors</td>
                <td>Spring loaded</td>
                <td />
              </tr>
              <tr>
                <td>4</td>
                <td>Loader rollers</td>
                <td>Optional</td>
                <td />
              </tr>
              <tr>
                <td>5</td>
                <td>Sheet thickness adjuster</td>
                <td>5cm</td>
                <td />
              </tr>
              <tr>
                <td>6</td>
                <td>Heatplate</td>
                <td>10mm 5038 precision Aluminium</td>
                <td />
              </tr>
              <tr>
                <td>7</td>
                <td>Lift Links</td>
                <td />
                <td />
              </tr>
            </tbody>
          </table>
          </p>
        </div>
      </div>
      <div style="padding: 16px; display: inline-block">
        <div prefix="" file="product_resources.md" context="machine" class="fragment">
          <p><strong>Product Resources</strong></p>
          <ul>
            <li><a href="https://plastic-hub.com/products//cassandra/resources/edrawings.html" style="color:#4C74B9">3D Preview</a></li>
            <li><a href="" style="color:#4C74B9">Product Page</a></li>
          </ul>
          <p />
        </div>
      </div>
    </div>
  </div>
  <br />
  <div prefix="" file="howtos.html" context="machine" class="fragment">
    <hr />
    <div style="padding:16px;text-align: center;">
      <h3> Howtos </h3>
      <div class="ty-vendor-plans">
        <div prefix="" file="howto_stool.html" context="machine" class="fragment">
          <div class="ty-grid-list__item" style="float: left;border-color: #c5c5c5;width: 300px;display: inline-block">
            <a href="https://community.preciousplastic.com/how-to/make-a-stool-with-woodworking-techniques" style="color:#4C74B9">
              <img height="200px" src="https://firebasestorage.googleapis.com/v0/b/onearmyworld.appspot.com/o/uploads%2Fv2_howtos%2FupxCCIPBklsTLDyp86zB%2Fpreciousplastic-stool.jpg?alt=media&amp;token=1bbd28a3-c27d-48b8-8a38-757d85ec55e1">
              <br />
              <p style="text-align: center;">Make a stool with woodworking techniques</p>
              </img>
            </a>
          </div>
        </div>
        <div prefix="" file="howto_chair.html" context="machine" class="fragment">
          <div class="ty-grid-list__item" style="float: left;border-color: #c5c5c5;width: 300px;display: inline-block">
            <a href="https://community.preciousplastic.com/how-to/make-a-chair-with-bent-sheets" style="color:#4C74B9">
              <img height="200px" src="https://firebasestorage.googleapis.com/v0/b/onearmyworld.appspot.com/o/uploads%2Fv2_howtos%2FsOTZUfaNoqANgG1JaMTy%2FLC%20Front%20on%20Angle%20Down%20-howto.jpg?alt=media&amp;token=cecfa462-6afa-483e-8fae-e25a288000f4">
              <br />
              <p style="text-align: center;">Make a chair with bent sheets</p>
              </img>
            </a>
          </div>
        </div>
        <div prefix="" file="howto_shelf.html" context="machine" class="fragment">
          <div class="ty-grid-list__item" style="float: left;border-color: #c5c5c5;width: 300px;display: inline-block">
            <a href="https://community.preciousplastic.com/how-to/make-a-shelf-with-sheets--beams" style="color:#4C74B9">
              <img height="200px" src="https://firebasestorage.googleapis.com/v0/b/onearmyworld.appspot.com/o/uploads%2Fv2_howtos%2F4F2VmET7hSvAcFPwpqnv%2FShelf%20Front%20On-howto.jpg?alt=media&amp;token=b5a01e09-9734-4e21-856e-1d2ef97ed6df">
              <br />
              <p style="text-align: center;">Make a shelf with sheets &amp; beams</p>
              </img>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div style="clear: both;">
      <p style="text-align:center ;">
        <a href="https://community.preciousplastic.com/how-to" style="color:#4C74B9">See more how-tos</a>
      </p>
    </div>
    <hr />
  </div>
  <hr />
  <div prefix="" file="others.html" context="machine" class="fragment">
    <div style="padding:16px;text-align: center;">
      <h3> See our other products </h3>
      <div class="ty-vendor-plans">
        <div prefix="" file="zoe.html" context="machine" class="fragment">
          <div class="ty-grid-list__item" style="float: left;border-color: #c5c5c5;width: 300px;display: inline-block">
            <a href="https://bazar.preciousplastic.com/index.php?dispatch=products.view&amp;product_id=152" style="color:#4C74B9">
              <img height="200px" src="https://plastic-hub.com/products/zoe/media/preview.jpg">
              <br />
              <p style="text-align: center;">Shredder &amp; Extrusion Combo &apos;Zoe&apos;</p>
              </img>
            </a>
          </div>
        </div>
        <div prefix="" file="lydia-v4.html" context="machine" class="fragment">
          <div class="ty-grid-list__item" style="float: left;border-color: #c5c5c5;width: 300px;display: inline-block">
            <a href="https://bazar.preciousplastic.com/index.php?dispatch=products.view&amp;product_id=159" style="color:#4C74B9">
              <img height="200px" src="https://plastic-hub.com/products/lydia-v4/media/preview.jpg">
              <br />
              <p style="text-align: center;">Extrusion v4</p>
              </img>
            </a>
          </div>
        </div>
        <div prefix="" file="elena.html" context="machine" class="fragment">
          <div class="ty-grid-list__item" style="float: left;border-color: #c5c5c5;width: 300px;display: inline-block">
            <a href="https://bazar.preciousplastic.com/index.php?dispatch=products.view&amp;product_id=99" style="color:#4C74B9">
              <img style="height:200px" height="200px" src="https://plastic-hub.com/products/elena/media/preview.jpg">
              <br />
              <p style="text-align: center;">Arbor Injection</p>
              </img>
            </a>
          </div>
        </div>
        <div prefix="" file="hal.html" context="machine" class="fragment">
          <div class="ty-grid-list__item" style="float: left;border-color: #c5c5c5;width: 300px;display: inline-block">
            <a href="https://bazar.preciousplastic.com/machines/shredder/shredder-kits/shredder-controller/" style="color:#4C74B9">
              <img height="200px" src="https://plastic-hub.com/products/components/hal/media/header_os.jpg">
              <br />
              <p style="text-align: center;">Industrial Shredder/Extrusion Controller (v3/v4)</p>
              </img>
            </a>
          </div>
        </div>
        <div prefix="" file="obelix.html" context="machine" class="fragment">
          <div class="ty-grid-list__item" style="float: left;border-color: #c5c5c5;width: 300px;display: inline-block">
            <a href="https://bazar.preciousplastic.com/machines/shredder-pro/shredder-pro-fully-built/upgraded-v4-shredder/" style="color:#4C74B9">
              <img height="200px" src="https://plastic-hub.com/products/shredder/obelix/media/gallery/latest.jpg">
              <br />
              <p style="text-align: center;">Upgraded v4 Shredder &apos;Obelix&apos;</p>
              </img>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div style="clear: both;">
    <p style="text-align:center ;">
      <a href="https://plastic-hub.com/products/" style="color:#4C74B9">See more products on our website</a>
    </p>
  </div>
  <hr />
  <div prefix="" file="vendor_links.html" context="machine" class="fragment">
    <p style="color:#f58d8e;clear: both;text-align: center;">
      <a href="https://www.instagram.com/plastichubcat/" style="color:#4C74B9"><span style="color:#f58d8e;">Instagram</span></a> |
      <a href="https://gitlab.com/plastichub/pp-next" style="color:#4C74B9"><span style="color:#f58d8e;">Github (OpenSourceFiles)</span></a> |
      <a href="mailto://sales@plastic-hub.com" style="color:#4C74B9"><span style="color:#f58d8e;">EMail</span></a> |
      <a href="https://www.facebook.com/plastichubcat" style="color:#4C74B9"><span style="color:#f58d8e;">Facebook</span></a> |
      <a href="https://library.plastic-hub.org/machines/" style="color:#4C74B9"><span style="color:#f58d8e;">Wiki</span></a> |
      <a href="https://community.preciousplastic.com/u/plastichub" style="color:#4C74B9"><span style="color:#f58d8e;">Community map</span></a> |
      <a href="https://forum.plastic-hub.com/" style="color:#4C74B9"><span style="color:#f58d8e;">Forum</span></a>
    </p>
    <p style="color:#f58d8e;clear: both;text-align: center;">
      <a href="https://join.slack.com/t/pporgworkspace/shared_invite/zt-ki41lt0y-us2lp_bRsgh_uQHESXofLg" style="color:#4C74B9"><span style="color:#f58d8e;">Slack - Support &amp; Development Chat </span></a> |
      <a href="tel://0034666894789" style="color:#4C74B9"><span style="color:#f58d8e;">Telefon - Whatsapp (English, French, German, Spanish,
                Catalan)</span></a>
    </p>
  </div>
  <hr />
  <div prefix="" file="instagram.html" context="machine" class="fragment">
    <div>
      <h4 style="text-align: center;">Checkout our Instagram</h4>
      <div class="ty-vendor-plans">
        <p class="ty-grid-list__item" style="float:left;border-color:#c5c5c5;width: 300px;display: inline-block">
          <a href="https://www.instagram.com/p/CGFEVPMHyNB/" style="color:#4C74B9">
            <img width="300" src="https://plastic-hub.com/products/resources/assets/instagram1.jpg" />
          </a>
        </p>
        <p class="ty-grid-list__item" style="float:left;border-color:#c5c5c5;width: 300px;display: inline-block">
          <a href="https://www.instagram.com/p/B1T3D3bHoke/" style="color:#4C74B9">
            <img width="300" src="https://plastic-hub.com/products/resources/assets/instagram2.jpg" />
          </a>
        </p>
        <p class="ty-grid-list__item" style="float:left;border-color:#c5c5c5;width: 300px;display: inline-block">
          <a href="https://www.instagram.com/p/CC8-hODqai0/" style="color:#4C74B9">
            <img width="300" src="https://plastic-hub.com/products/resources/assets/instagram3.jpg" />
          </a>
        </p>
      </div>
    </div>
  </div>
  <hr />
  <div prefix="" file="projects.html" context="machine" class="fragment">
    <div>
      <h4 style="text-align: center;">Our latest Open Source projects</h4>
      <div class="ty-vendor-plans">
        <p class="ty-grid-list__item" style="float:left;border-color:#c5c5c5;width: 300px;display: inline-block">
          <a href="https://plastic-hub.com/products/cassandra.html" style="color:#4C74B9">
            <img width="300" src="https://plastic-hub.com/products/cassandra/renderings/perspective.JPG" />
          </a>
          <span style="text-align: center; font-weight: bold;font-size: larger;">Mini Sheetpress</span>
        </p>
        <p class="ty-grid-list__item" style="float:left;border-color:#c5c5c5;width: 300px;display: inline-block">
          <a href="https://plastic-hub.com/products/asterix.html" style="color:#4C74B9">
            <img width="300" src="https://plastic-hub.com/products/shredder/asterix/renderings/perspective.png" />
          </a>
          <span style="text-align: center; font-weight: bold;font-size: larger;">Vending Shredder</span>
        </p>
        <p class="ty-grid-list__item" style="float:left;border-color:#c5c5c5;width: 300px;display: inline-block">
          <a href="https://plastic-hub.com/products/PrintHead/media/preview.jpg.jpg" style="color:#4C74B9">
            <img width="300" src="https://plastic-hub.com/products/PrintHead/media/preview.jpg.jpg" />
          </a>
          <span style="text-align: center;font-weight: bold;font-size: larger;">3D Printhead for industrial robots</span>
        </p>
      </div>
    </div>
  </div>
  <hr />
  <div prefix="" file="footer.md" context="machine" class="fragment">
    <p>
    <div prefix="" file="social.html" context="machine" class="fragment">
      <table style="display:table;width:auto;margin-left:auto;margin-right:auto">
        <tbody>
          <tr>
            <td>
              <a href="https://www.instagram.com/plastichubcat" style="color:#4C74B9">
                <img width="30px" src="https://precious-plastic.org/products/bazar/assets/instagram-logo.png" />
              </a>
            </td>
            <td>
              <a href="https://www.youtube.com/channel/UCuWDxJtV2pf5BefHEy09Cew/featured?view_as=subscriber" style="color:#4C74B9">
                <img width="30px" src="https://precious-plastic.org/products/bazar/assets/002-youtube.png" />
              </a>
            </td>
            <td>
              <a alt="Open Source Projects" href="https://gitlab.com/plastichub" style="color:#4C74B9">
                <img width="30px" src="https://precious-plastic.org/products/bazar/assets/github.png" />
              </a>
            </td>
            <td>
              <a alt="" href="tel:0034666894789" style="color:#4C74B9">
                <img width="30px" src="https://precious-plastic.org/products/bazar/assets/007-whatsapp.png" />
              </a>
            </td>
            <td>
              <a alt="" href="https://www.facebook.com/plastichubcat/" style="color:#4C74B9">
                <img width="30px" src="https://precious-plastic.org/products/bazar/assets/043-facebook-1.png" />
              </a>
            </td>
            <td>
              <a alt="" href="mailto:sales@plastic-hub.com" style="color:#4C74B9">
                <img width="30px" src="https://precious-plastic.org/products/bazar/assets/012-mail-2.png" />
              </a>
            </td>
            <td>
              <a alt="" href="https://plastic-hub.com/blog" style="color:#4C74B9">
                <img width="30px" src="https://precious-plastic.org/products/bazar/assets/006-wordpress.png" />
              </a>
            </td>
            <td>
              <a alt="" href="https://discord.gg/SN6MT5N" style="color:#4C74B9">
                <img width="30px" src="https://precious-plastic.org/products/bazar/assets/discord.png" />
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    </p>
  </div>
</div>