<div prefix="" file="product.html" context="machine" class="fragment"><span>Extrusion &amp; Shredder Combo &apos;Zoe&apos;</span>
  <hr />
  <hr />
  Please always contact us through <a href="mailto://sales@plastic-hub.com" style="color:#4C74B9">EMail</a><br />
  <hr />
  <div prefix="" file="body.md" context="machine" class="fragment">
    <p>This is our best seller. It comes with auto-reverse and lots of safety functions.</p>
    <div style="clear:both">
      <div prefix="" file="mini_specs.md" context="machine" class="fragment">
        <p><span id="specs" style="padding: 16px">
            <table class="center specs" style="display:table;width:auto;margin-left:auto;margin-right:auto">
                <tbody>
                    <tr>
                        <td>Type:
                        </td>
                        <td> Combination (Shredder &amp; Extrusion)
                        </td>
                    </tr>
                    <tr>
                        <td>Version:
                        </td>
                        <td>3.3
                        </td>
                    </tr>
                    <tr>
                        <td> Status:
                        </td>
                        <td> Mature
                        </td>
                    </tr>
                    <tr>
                        <td> License
                        </td>
                        <td><a href="https://ohwr.org/cernohl" style="color:#4C74B9">CERN Open Source Hardware License</a>
                        </td>
                    </tr>
                    <tr>
                        <td> Authors </td>
                        <td>
                            <li><a href="" style="color:#4C74B9">PlasticHub S.L.</a></li>
                            <li><a href="" style="color:#4C74B9">PrecisousPlastic - Eindhoven</a></li>
                            <li><a href="https://www.plastic-hub.com" style="color:#4C74B9">Dan Shirley - Timberstar</a></li>
                        </td>
                    </tr>
                    <tr>
                        <td>Weight</td>
                        <td>110 kg</td>
                    </tr>
                    <tr>
                        <td>Blade width</td>
                        <td>6 mm</td>
                    </tr>
                    <tr>
                        <td>Voltage</td>
                        <td>220V | 380V</td>
                    </tr>
                    <tr>
                        <td>AMP</td>
                        <td>7.8A</td>
                    </tr>
                    <tr>
                        <td>Nominal Torque</td>
                        <td>240 Nm</td>
                    </tr>
                    <tr>
                        <td>Output Speed</td>
                        <td>&#xB1;70 r/min</td>
                    </tr>
                </tbody>
            </table>
        </span></p>
      </div>
    </div>
    <div style="clear:both">
      <div prefix="" file="product_overview_drawings.html" context="machine" class="fragment">
        <div>
          <h4 style="text-align: center;">Dimensions</h4>
          <a href="https://plastic-hub.com/products/zoe//drawings/dimensions.JPG" style="color:#4C74B9">
            <p style="text-align: center">
              <img style="max-height:500px" src="https://plastic-hub.com/products/zoe//drawings/dimensions.JPG">
              </img></p>
          </a>
          <hr />
          <h4 style="text-align: center;">Parts</h4>
          <a href="https://plastic-hub.com/products/zoe//drawings/parts.JPG" style="color:#4C74B9">
            <p style="text-align: center">
              <img style="max-height:500px" src="https://plastic-hub.com/products/zoe//drawings/parts.JPG">
              </img></p>
          </a>
          <p style="text-align: center">
          <table style="display:table;width:auto;margin-left:auto;margin-right:auto">
            <thead>
              <tr>
                <th>Part Nr.</th>
                <th>Description</th>
                <th>Configuration</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td />
                <td />
                <td />
              </tr>
              <tr>
                <td>1</td>
                <td><a href="https://plastic-hub.com/products/hal.html" style="color:#4C74B9">Controller Hal9000</a></td>
                <td>Advanced | Auto-Reverse | Auto-Stop</td>
              </tr>
              <tr>
                <td>2</td>
                <td>Shredder Hopper</td>
                <td>2mm Stainless | 40 cm high</td>
              </tr>
              <tr>
                <td>3</td>
                <td><a href="https://plastic-hub.com/products/extrusion_v32.html" style="color:#4C74B9">Extrusion</a></td>
                <td>Basic (v3.2)</td>
              </tr>
              <tr>
                <td>4</td>
                <td><a href="https://plastic-hub.com/products/zoe/resources/KM-904CV.pdf" style="color:#4C74B9">Motor</a></td>
                <td>2.2KW | 1480 RPM | 220V or 380 V</td>
              </tr>
              <tr>
                <td>5</td>
                <td><a href="https://plastic-hub.com/products/zoe/resources/KM-904CV.pdf" style="color:#4C74B9">Reducer</a></td>
                <td>MRV90 1:30</td>
              </tr>
              <tr>
                <td>6</td>
                <td>Couplings</td>
                <td>Custom Jaw Spider &amp; Rubber filling</td>
              </tr>
              <tr>
                <td>7</td>
                <td>Legs</td>
                <td>40 x 40 mm | 20 cm long</td>
              </tr>
              <tr>
                <td>8</td>
                <td><a href="https://plastic-hub.com/products/shredder_v31.html" style="color:#4C74B9">Shredder</a></td>
                <td>Upgraded v3 Shredder | 32mm hexbar | 30mm shaft - keyed</td>
              </tr>
              <tr>
                <td>9</td>
                <td><a href="https://plastic-hub.com/products/extrusion_v32.html" style="color:#4C74B9">Extrusion Hopper</a></td>
                <td>2mm Stainless | Window | Quick-Release | Cooling-Ribs</td>
              </tr>
              <tr>
                <td />
                <td />
                <td />
              </tr>
            </tbody>
          </table>
          </p>
        </div>
      </div>
    </div>
    <h3 id="features">Features</h3>
    <ul>
      <li>Safe hopper &#x2013; with optional door.</li>
      <li>Precise auto-reverse when jamming.</li>
      <li>Status lights : Ok &amp; Error</li>
      <li>Emergency and reset button</li>
      <li>Various motor protections (thermal &amp; magnetic).</li>
      <li>Jam detection for extrusion mode</li>
      <li>Record and replay extrusion times</li>
      <li>Rigid, flexible and modular framework &#x2013; enabling hacking and extensions. The base plate is 15 mm thick.</li>
      <li>The legs have M10 threads on each end so you can connect levelers or wheels. The legs have also extra holes to install easily extra sheets all around.</li>
      <li>Extrusion hopper can be easily detached.</li>
      <li>Thermocouples (sensors) have clips, easy to detach.</li>
      <li>Stops automatically after one hour of inactivity.</li>
      <li>Quality cables and wiring according to industrial standards.</li>
      <li>Precision mounts for shredder &amp; extrusion, making sure everything is aligned perfectly.</li>
      <li>Strong 32 mm hexbar and 35 mm driveshaft</li>
      <li>Compression screw</li>
      <li>Industrial controller</li>
    </ul>
    <hr />
    <div>
      <div style="padding: 16px; display: inline-block">
        <div prefix="" file="product_resources.md" context="machine" class="fragment">
          <p><strong>Product Resources</strong></p>
          <ul>
            <li><a href="https://library.plastic-hub.com/machines/zoe.html" style="color:#4C74B9">Wiki</a></li>
            <li><a href="https://library.plastic-hub.com/howto/#zoe" style="color:#4C74B9">Howtos - Machine builder</a></li>
            <li><a href="https://precious-plastic.org//archives/zoe.zip" style="color:#4C74B9">Download</a></li>
            <li><a href="https://plastic-hub.com/products/zoe.html" style="color:#4C74B9">Product Page</a></li>
            <li><a href="https://plastic-hub.com/products/zoe/resources/edrawings.html" style="color:#4C74B9">3D Preview</a></li>
          </ul>
          <hr />
          <ul>
            <li><a href="https://library.plastic-hub.com/howto/zoe/assembly/base/index.html" style="color:#4C74B9">Product Assembly</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <br />
  <hr />
  <div prefix="" file="others.html" context="machine" class="fragment">
    <div style="padding:16px;text-align: center;">
      <h3> See our other products </h3>
      <div class="ty-vendor-plans">
        <div prefix="" file="elena.html" context="machine" class="fragment">
          <div class="ty-grid-list__item" style="float: left;border-color: #c5c5c5;width: 300px;display: inline-block">
            <a href="https://bazar.preciousplastic.com/index.php?dispatch=products.view&amp;product_id=99" style="color:#4C74B9">
              <img style="height:200px" height="200px" src="https://plastic-hub.com/products/elena/media/preview.jpg">
              <br />
              <p style="text-align: center;">Arbor Injection</p>
              </img>
            </a>
          </div>
        </div>
        <div prefix="" file="sheetpress.html" context="machine" class="fragment">
          <div class="ty-grid-list__item" style="float: left;border-color: #c5c5c5;width: 300px;display: inline-block;">
            <a href="https://bazar.preciousplastic.com/index.php?dispatch=products.view&amp;product_id=210" style="color:#4C74B9">
              <img width="height" src="https://plastic-hub.com/products/sheetpress-cell/media/latest2.jpg">
              <br />
              <p style="text-align: center;">Sheetpress Cell</p>
              </img>
            </a>
          </div>
        </div>
        <div prefix="" file="lydia.html" context="machine" class="fragment">
          <div class="ty-grid-list__item" style="float: left;border-color: #c5c5c5;width: 300px;display: inline-block">
            <a href="https://bazar.preciousplastic.com/index.php?dispatch=products.view&amp;product_id=179" style="color:#4C74B9">
              <img height="200px" src="https://plastic-hub.com/products/lydia/media/preview.jpg">
              <br />
              <p style="text-align: center;">Extrusion v3</p>
              </img>
            </a>
          </div>
        </div>
        <div prefix="" file="lydia-v4.html" context="machine" class="fragment">
          <div class="ty-grid-list__item" style="float: left;border-color: #c5c5c5;width: 300px;display: inline-block">
            <a href="https://bazar.preciousplastic.com/index.php?dispatch=products.view&amp;product_id=159" style="color:#4C74B9">
              <img height="200px" src="https://plastic-hub.com/products/lydia-v4/media/preview.jpg">
              <br />
              <p style="text-align: center;">Extrusion v4</p>
              </img>
            </a>
          </div>
        </div>
        <div prefix="" file="obelix.html" context="machine" class="fragment">
          <div class="ty-grid-list__item" style="float: left;border-color: #c5c5c5;width: 300px;display: inline-block">
            <a href="https://bazar.preciousplastic.com/machines/shredder-pro/shredder-pro-fully-built/upgraded-v4-shredder/" style="color:#4C74B9">
              <img height="200px" src="https://plastic-hub.com/products/obelix/media/gallery/latest.jpg">
              <br />
              <p style="text-align: center;">Upgraded v4 Shredder &apos;Obelix&apos;</p>
              </img>
            </a>
          </div>
        </div>
        <div prefix="" file="cassandra.html" context="machine" class="fragment">
          <div class="ty-grid-list__item" style="float: left;border-color: #c5c5c5;width: 300px;display: inline-block">
            <a href="https://bazar.preciousplastic.com/machines/sheetpress/sheet-press-fully-built/heat-conductive-putty-sheetpress/" style="color:#4C74B9">
              <img height="200px" src="https://plastic-hub.com/products/cassandra/renderings/perspective.JPG">
              <br />
              <p style="text-align: center;">Mini Sheetpress &apos;Cassandra&apos;</p>
              </img>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div style="clear: both;">
    <p style="text-align:center ;">
      <a href="https://plastic-hub.com/products/" style="color:#4C74B9">See more products on our website</a>
    </p>
  </div>
  <hr />
  <div prefix="" file="vendor_links.html" context="machine" class="fragment">
    <p style="color:#f58d8e;clear: both;text-align: center;">
      <a href="https://www.instagram.com/plastichubcat/" style="color:#4C74B9"><span style="color:#f58d8e;">Instagram</span></a> |
      <a href="https://gitlab.com/plastichub/" style="color:#4C74B9"><span style="color:#f58d8e;">Github (OpenSourceFiles)</span></a> |
      <a href="mailto://sales@plastic-hub.com" style="color:#4C74B9"><span style="color:#f58d8e;">EMail</span></a> |
      <a href="https://www.facebook.com/plastichubcat" style="color:#4C74B9"><span style="color:#f58d8e;">Facebook</span></a> |
      <a href="https://library.plastic-hub.org/machines/" style="color:#4C74B9"><span style="color:#f58d8e;">Wiki</span></a> |
      <a href="https://community.preciousplastic.com/u/plastichub" style="color:#4C74B9"><span style="color:#f58d8e;">Community map</span></a> |
      <a href="https://forum.plastic-hub.org/machines/" style="color:#4C74B9"><span style="color:#f58d8e;">Forum</span></a>
    </p>
    <p style="color:#f58d8e;clear: both;text-align: center;">
      <a href="https://join.slack.com/t/pporgworkspace/shared_invite/zt-ki41lt0y-us2lp_bRsgh_uQHESXofLg" style="color:#4C74B9"><span style="color:#f58d8e;">Slack - Support &amp; Development Chat </span></a> |
      <a href="tel://0034666894789" style="color:#4C74B9"><span style="color:#f58d8e;">Telefon - Whatsapp (English, French, German, Spanish,
                Catalan)</span></a>
    </p>
  </div>
  <hr />
  <div prefix="" file="instagram.html" context="machine" class="fragment">
    <div>
      <h4 style="text-align: center;">Checkout our Instagram</h4>
      <div class="ty-vendor-plans">
        <p class="ty-grid-list__item" style="float:left;border-color:#c5c5c5;width: 300px;display: inline-block">
          <a href="https://www.instagram.com/p/CGFEVPMHyNB/" style="color:#4C74B9">
            <img width="300" src="https://plastic-hub.com/products/resources/assets/instagram1.jpg" />
          </a>
        </p>
        <p class="ty-grid-list__item" style="float:left;border-color:#c5c5c5;width: 300px;display: inline-block">
          <a href="https://www.instagram.com/p/B1T3D3bHoke/" style="color:#4C74B9">
            <img width="300" src="https://plastic-hub.com/products/resources/assets/instagram2.jpg" />
          </a>
        </p>
        <p class="ty-grid-list__item" style="float:left;border-color:#c5c5c5;width: 300px;display: inline-block">
          <a href="https://www.instagram.com/p/CC8-hODqai0/" style="color:#4C74B9">
            <img width="300" src="https://plastic-hub.com/products/resources/assets/instagram3.jpg" />
          </a>
        </p>
      </div>
    </div>
  </div>
  <hr />
  <div prefix="" file="projects.html" context="machine" class="fragment">
    <div>
      <h4 style="text-align: center;">Our latest Open Source projects</h4>
      <div class="ty-vendor-plans">
        <p class="ty-grid-list__item" style="float:left;border-color:#c5c5c5;width: 300px;display: inline-block">
          <a href="https://plastic-hub.com/products/cassandra.html" style="color:#4C74B9">
            <img width="300" src="https://plastic-hub.com/products/cassandra/renderings/perspective.JPG" />
          </a>
          <span style="text-align: center; font-weight: bold;font-size: larger;">Mini Sheetpress</span>
        </p>
        <p class="ty-grid-list__item" style="float:left;border-color:#c5c5c5;width: 300px;display: inline-block">
          <a href="https://plastic-hub.com/products/asterix.html" style="color:#4C74B9">
            <img width="300" src="https://plastic-hub.com/products/asterix/renderings/perspective.png" />
          </a>
          <span style="text-align: center; font-weight: bold;font-size: larger;">Vending Shredder</span>
        </p>
        <p class="ty-grid-list__item" style="float:left;border-color:#c5c5c5;width: 300px;display: inline-block">
          <a href="https://plastic-hub.com/products/PrintHead/media/preview.jpg.jpg" style="color:#4C74B9">
            <img width="300" src="https://plastic-hub.com/products/PrintHead/media/preview.jpg.jpg" />
          </a>
          <span style="text-align: center;font-weight: bold;font-size: larger;">3D Printhead for industrial robots</span>
        </p>
      </div>
    </div>
  </div>
  <hr />
  <div prefix="" file="footer.md" context="machine" class="fragment">
    <p>
    <div prefix="" file="social.html" context="machine" class="fragment">
      <table style="display:table;width:auto;margin-left:auto;margin-right:auto">
        <tbody>
          <tr>
            <td>
              <a href="https://www.instagram.com/plastichubcat" style="color:#4C74B9">
                <img width="30px" src="https://precious-plastic.org/products/bazar/assets/instagram-logo.png" />
              </a>
            </td>
            <td>
              <a href="https://www.youtube.com/channel/UCuWDxJtV2pf5BefHEy09Cew/featured?view_as=subscriber" style="color:#4C74B9">
                <img width="30px" src="https://precious-plastic.org/products/bazar/assets/002-youtube.png" />
              </a>
            </td>
            <td>
              <a alt="Open Source Projects" href="https://gitlab.com/plastichub/" style="color:#4C74B9">
                <img width="30px" src="https://precious-plastic.org/products/bazar/assets/github.png" />
              </a>
            </td>
            <td>
              <a alt="" href="tel:0034666894789" style="color:#4C74B9">
                <img width="30px" src="https://precious-plastic.org/products/bazar/assets/007-whatsapp.png" />
              </a>
            </td>
            <td>
              <a alt="" href="https://www.facebook.com/plastichubcat/" style="color:#4C74B9">
                <img width="30px" src="https://precious-plastic.org/products/bazar/assets/043-facebook-1.png" />
              </a>
            </td>
            <td>
              <a alt="" href="mailto:sales@plastic-hub.com" style="color:#4C74B9">
                <img width="30px" src="https://precious-plastic.org/products/bazar/assets/012-mail-2.png" />
              </a>
            </td>
            <td>
              <a alt="" href="https://plastic-hub.com/blog" style="color:#4C74B9">
                <img width="30px" src="https://precious-plastic.org/products/bazar/assets/006-wordpress.png" />
              </a>
            </td>
            <td>
              <a alt="" href="https://discord.gg/SN6MT5N" style="color:#4C74B9">
                <img width="30px" src="https://precious-plastic.org/products/bazar/assets/discord.png" />
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    </p>
  </div>
</div>